<section class="home__hero">
	<div class="home__banner">
		<div class="container">
			<h1
				class="site__heading-one text-start text-md-center"
				data-aos="fade-up"
				data-aos-duration="1400"
				data-aos-delay="400"
				data-aos-easing="cubic-bezier(0.16, 0.84, 0.44, 1)"
				data-aos-anchor=".home__hero"
				data-aos-offset="100"
			>
				<span class="text-primary-grad-1">Research-Grade Peptides,</span>
				Delivered Fast
			</h1>
			<p
				class="text-body3 text-gray-dark text-start text-md-center mt-24"
				data-aos="fade-up"
				data-aos-duration="1800"
				data-aos-delay="800"
				data-aos-easing="cubic-bezier(0.215, 0.61, 0.355, 1.2)"
				data-aos-anchor=".home__hero"
				data-aos-offset="100"
			>
				High-quality research peptides for laboratory and scientific research.
				Professional-grade compounds with verified purity.
			</p>
			<div
				class="d-flex justify-content-md-center mt-24"
				data-aos="fade-up"
				data-aos-duration="900"
				data-aos-delay="1000"
				data-aos-easing="ease-out-cubic"
				data-aos-anchor=".home__hero"
			>
				<div
					class="alert-pill"
					data-aos="zoom-out-up"
					data-aos-duration="1500"
					data-aos-delay="1600"
					data-aos-easing="ease-out-back"
					data-aos-anchor=".home__hero"
				>
					<i class="icon-alert"></i>
					<span>For Research Purposes Only — Not for Human Consumption</span>
				</div>
			</div>
			<p
				class="text-body4 text-gray-dark text-start text-md-center mt-24"
				data-aos="fade-up"
				data-aos-duration="900"
				data-aos-delay="1900"
				data-aos-easing="ease-out-cubic"
				data-aos-anchor=".home__hero"
			>
				Fast shipping. Verified purity. Reliable results.
			</p>

			<div
				class="d-flex justify-content-md-center mt-20"
				data-aos="flip-up"
				data-aos-duration="1600"
				data-aos-delay="2500"
				data-aos-easing="ease-out-back"
				data-aos-anchor=".home__hero"
			>
				<button
					class="theme-btn theme-btn__primary theme-btn__primary--icon"
					id="browseProducts"
				>
					Browse Products
					<span class="theme-btn__primary--icon-box">
						<i class="icon-right-arrow"></i>
					</span>
				</button>
			</div>
		</div>
	</div>
</section>
