<section class="home__hero">
	<div class="home__banner">
		<div class="container">
			<h1
				class="site__heading-one text-start text-center"
				data-aos="fade-up"
				data-aos-duration="1400"
				data-aos-delay="400"
			>
				<span class="text-white">Research-Grade Peptides,</span>
				<br />
				<div
					class="text-white fw-300"
					data-aos="fade-up"
					data-aos-duration="1400"
					data-aos-delay="500">Delivered Fast</div
				>
			</h1>
			<p
				class="text-body3 text-white text-start text-center mt-24"
				data-aos="fade-up"
				data-aos-duration="1800"
				data-aos-delay="800"
			>
				High-quality research peptides for laboratory and scientific research.<br
				/>
				Professional-grade compounds with verified purity.
			</p>
			<div
				class="d-flex justify-content-center mt-24"
				data-aos="fade-up"
				data-aos-duration="900"
				data-aos-delay="1000"
			>
				<div
					class="alert-pill"
					data-aos="zoom-in"
					data-aos-duration="1500"
					data-aos-delay="1600"
				>
					<i class="icon-alert"></i><span
						>For Research Purposes Only — Not for Human Consumption</span
					>
				</div>
			</div>
			<p
				class="text-body4 text-white text-start text-center mt-24"
				data-aos="fade-up"
				data-aos-duration="900"
				data-aos-delay="1900"
			>
				Fast shipping. Verified purity. Reliable results.
			</p>

			<div
				class="d-flex justify-content-center mt-20"
				data-aos="flip-up"
				data-aos-duration="1600"
				data-aos-delay="2500"
				data-aos-once="true"
			>
				<button
					class="theme-btn theme-btn__primary theme-btn__primary--icon"
					id="browseProducts"
				>
					Browse Products<span class="theme-btn__primary--icon-box">
						<i class="icon-right-arrow"></i>
					</span>
				</button>
			</div>
		</div>
	</div>
</section>
