<section class="how-works">
	<div class="container">
		<h2 class="site__heading-two text-center">How it Works</h2>
		<div class="step d-md-flex d-none mt-20">
			<div class="step__one">
				<span>01</span>
			</div>
			<div class="step__two">
				<span>02</span>
			</div>
			<div class="step__three step__three__fill">
				<span>03</span>
			</div>
			<div class="step__border"> </div>
		</div>

		<div class="how-works__items">
			<div class="row">
				<div class="col-md-4">
					<div class="d-md-none d-flex justify-content-center mb-20">
						<div class="step__one">
							<span>01</span>
						</div>
					</div>

					<div class="how-works__card">
						<h6 class="site__heading-six">Begin Your Journey</h6>
						<p class="mt-10"
							>Answer a few quick questions to see if you qualify. Get expert
							care without in-person doctor visits.</p
						>
						<img
							class="how-works__card__img"
							src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/how-step1.png"
							alt="How Works"
						/>
					</div>
				</div>
				<div class="col-md-4">
					<div class="d-md-none d-flex justify-content-center mb-20 mt-30">
						<div class="step__one">
							<span>02</span>
						</div>
					</div>
					<div class="how-works__card">
						<h6 class="site__heading-six">Online Consultation</h6>
						<p class="mt-10"
							>Doctors will conduct an online medical consultation, which may
							include a video call or phone conversation.</p
						>
						<img
							class="how-works__card__img"
							src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/how-step2.png"
							alt="How Works"
						/>
					</div>
				</div>
				<div class="col-md-4">
					<div class="d-md-none d-flex justify-content-center mb-20 mt-30">
						<div class="step__one">
							<span>03</span>
						</div>
					</div>
					<div class="how-works__card">
						<h6 class="site__heading-six">Receive Product</h6>
						<p class="mt-10"
							>It’s simple—once approved, your treatment ships fast in discreet
							packaging.</p
						>
						<img
							class="how-works__card__img"
							src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/how-step3.png"
							alt="How Works"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
