@use "../base/variables" as *;

.contact {
	padding: 180px 0 100px;

	&__banner {
		margin-top: 50px;
		padding: 14px 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid rgba($color: $red, $alpha: 0.5);
		border-radius: 8px;
		background: $background-2;

		button {
			font-weight: 600;
		}
	}

	&__single {
		padding: 10px 60px;
		text-align: center;
	}

	&--btn {
		display: inline-block;
		min-width: 143px;
		border-radius: 10px;
	}

	&--text {
		margin-top: 20px;
		line-height: 26px;
	}

	&__form {
		max-width: 970px;
		margin: 0 auto;
		margin-top: 30px;

		&__btn {
			width: 143px;
		}
	}

	&__img {
		margin-top: 80px;

		img {
			width: 100%;
		}
	}

	.map {
		margin-top: 80px;
	}
}

@media only screen and (max-width: 992px) {
	.contact {
		padding: 150px 0 80px;

		&__banner {
			margin-top: 30px;
			padding: 10px 20px;

			p {
				font-size: $fs-20 !important;
			}
		}

		.my-30 {
			margin: 20px 0 !important;
		}
	}
}

@media only screen and (max-width: 768px) {
	.contact {
		padding: 100px 0 50px;

		&__single {
			padding: 10px 0;
		}

		.map {
			margin-top: 40px;
		}
	}
}