.upload-document {
	padding: 180px 0 160px 0;

	.medical-documents {
		&__title {
			padding-bottom: 40px;
			margin-bottom: 0;
		}
	}

	.photo-dropzone {
		margin-bottom: 40px;
	}

	.common__progress-bar {
		margin-top: 40px;

		.progress {
			height: 12px;
			border-radius: 20px;

			.progress-bar {
				width: 30%;
				border-radius: 20px;
				background-color: $primary;
				position: relative;

				&:after {
					content: "";
					display: block;
					width: 8px;
					height: 8px;
					background-color: white;
					border-radius: 10px;
					position: absolute;
					right: 2px;
					top: 2px;
				}
			}

			&__text {
				text-align: center;
				font-size: 12px;
				font-weight: 500;
			}
		}
	}
}

.step-btn {
	margin-top: 40px;
	gap: 10px;
	display: flex;
	justify-content: end;

	button {
		width: 200px;
	}
}

.dropzone {
	input[type="file"] {
		display: none;
	}

	&__area {
		display: block;
		width: 100%;
		height: 320px;
		padding: 0;
		color: $light;
		border-radius: 20px;
		border: 2px dashed $red;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;
		text-align: center;
		background-color: $background-3;

		i {
			font-size: 80px;
		}

		// &:hover {
		// 	background-color: $gold-5;
		// }
	}

	&__content {
		width: 370px;

		img {
			max-width: 70px;
		}

		.theme-btn {
			margin-top: 10px;
			width: 100%;
			display: inline-block;
		}
	}
}

.generated-document {
	border-bottom: 1.5px solid $red;
	margin-bottom: 40px;
	background-color: transparent;

	&.completed {
		padding: 25px 50px;
		border: 1px solid $red;
		border-radius: 12px;

		// .dropdown__selection {
		// 	margin-top: 7px;
		// }
	}

	&.last {
		margin-bottom: 0;
	}

	&__status {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__info {
			display: flex;
			align-items: center;
			gap: 40px;

			.doc-icon {
				i {
					font-size: 50px;
					color: $red;
				}
			}

			.doc-content {
				p {
					font-size: $fs-18;
					font-weight: 700;
				}

				ul {
					display: flex;
					align-items: center;
					gap: 15px;
					list-style: none;
					margin: 0;
					padding-left: 0;

					li {
						display: flex;
						align-items: center;
						font-size: 16px;

						&:first-child {
							font-weight: 500;
							color: $secondary;
						}

						&:last-child {
							color: $secondary;
						}

						i {
							&.icon-ellipse {
								font-size: 8px;
								margin-left: 15px;
							}

							&.icon-loader {
								color: $primary;
								margin-right: 8px;
								font-size: 18px;
							}

							&.icon-completed {
								color: $primary;
								margin-right: 8px;
								font-size: 18px;
							}
						}
					}
				}
			}
		}

		&__action {
			a {
				i {
					font-size: 22px;
					font-weight: 500;
					color: $red;
				}
			}
		}
	}

	.assessment {
		&__progress-bar {
			margin-top: 20px;

			.progress {
				.progress-bar {
					&::after {
						display: none;
					}
				}
			}
		}
	}
}

.mandatory-documents {
	display: flex;
	align-items: center;
	gap: 50px;
	padding: 40px;
	background-color: $background-3;
	border-radius: 20px;
	margin-top: 30px;

	&__icon {
		i {
			font-size: 80px;
			color: $red;
		}
	}

	&__content {
		max-width: 750px;

		&__title {
			font-size: $fs-28;
			font-weight: 700;
			line-height: 1.2;
			color: $secondary;
		}

		&__description {
			font-size: 18px;
			font-weight: 600;
			line-height: 1.3;
			color: $secondary;
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width: 1170px) {
	.generated-document.completed .dropdown__selection {
		margin-top: 7px;
	}
}

@media only screen and (max-width: 992px) {
	.generated-document.completed .dropdown__selection {
		margin: 7px 20px 0 auto;
	}

	.upload-document {
		padding: 150px 0 80px;
	}

	.generated-document {
		margin-bottom: 20px;
	}

	.photo-dropzone {
		margin-bottom: 20px !important;
	}
}

@media only screen and (max-width: 767px) {
	.upload-document {
		padding: 100px 0 50px;

		.medical-documents {
			&__title {
				margin-bottom: 0;
				padding-bottom: 20px;
				font-size: 16px !important;
			}
		}
	}

	.mandatory-documents {
		padding: 20px;
		flex-direction: column;
		text-align: center;
		gap: 10px;

		&__icon {
			i {
				font-size: 50px;
				color: #77808c;
			}
		}

		&__content {
			&__title {
				font-size: 16px;

				span {
					display: block;
					margin-top: -10px;
				}
			}

			&__description {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	.dropzone {
		&__area {
			display: block;
			width: 100%;
			height: 320px;
			padding: 0;
			background-color: rgba($light, 0.1);
			color: $light;
			border-radius: 20px;
			border: 1px dashed $primary;
			cursor: pointer;

			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease;
			text-align: center;

			i {
				font-size: 80px;
			}

			&:hover {
				background-color: rgba($secondary, 0.7);
			}
		}

		&__content {
			max-width: 370px;
			padding: 40px;

			img {
				max-width: 70px;
			}

			.theme-btn {
				margin-top: 10px;
				width: 100%;
				display: inline-block;
			}
		}
	}

	.generated-document {
		padding: 0 15px;

		&__status {
			padding-left: 0;
			align-items: end;

			&__info {
				gap: 15px;
				align-items: end;

				.doc-content {
					p {
						margin-bottom: 0px;
						font-size: 14px;
					}

					ul {
						li {
							font-size: 12px;

							&:last-child {
								font-size: 14px;
							}
						}
					}
				}

				.doc-icon {
					display: flex;
					align-items: end;

					i {
						font-size: 40px;
					}
				}
			}
		}

		.row {
			display: flex;
			gap: 20px;
			flex-direction: column-reverse;

			.dropdown__selection {
				max-width: 100%;
				padding: 0 7px;

				button {
					margin-top: 0 !important;

					span {
						font-size: 16px;
					}
				}
			}
		}

		.assessment {
			&__progress-bar {
				margin-bottom: 0 !important;
			}
		}

		&.completed {
			padding: 0 12.5px;
			background-color: transparent;
		}
	}

	.medical-documents {
		.step-btn {
			margin-top: 20px;
			display: flex;

			button {
				padding: 12px;
				flex-grow: 1;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.step-btn {
		margin-top: 20px;
		justify-content: center;
	}
}