.product {
	&-hero {
		overflow: hidden;
		background-color: $background-2;


		&__left {
			padding: 200px 80px 100px 0;
			height: 100%;
			text-align: right;

			// &-col {
			// 	padding: 0 15px;
			// }


			&--green {
				background: url(/Themes/Thrivewellrx.Theme.Slimout/assets/img/bg/green-bg.svg);
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		&__right {
			padding: 150px 0 100px;
			max-width: 570px;


			// &-col {
			// 	padding: 0;
			// 	background-color: $background-2;
			// }
		}

		&__img {
			height: 500px;

			img {
				height: 100%;
			}
		}
	}

	&__benifits {
		background: url(/Themes/Thrivewellrx.Theme.Slimout/assets/img/bg/pdetails-common-bg.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top center;
		background-color: $background-1;

		&__img {
			img {
				width: 100%;
			}
		}

		&__item {
			text-align: center;
		}

		&__content {
			padding: 0 30px;
			margin-top: -130px;
		}
	}

	&__solution {
		padding: 100px 0;
		background: url(/Themes/Thrivewellrx.Theme.Slimout/assets/img/bg/pdetails-blue-bg.svg);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-color: $blue-3;
	}

	&__card {
		&--normal {
			background-color: $light;
			border-radius: 20px;
			padding: 16px 24px;
		}
	}
}


@media only screen and (max-width: 992px) {
	.product-hero {
		&__left {
			padding: 100px 15px 20px 15px;
			text-align: center;
		}

		&__right {
			padding: 50px 15px 50px;
			max-width: 100%;
		}

		&__img {
			height: 350px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.product-hero {

		&__img {
			height: 300px;
		}
	}
}