.assessment {
	&__progress-bar {
		width: 519px;
		margin: 0 auto;

		.assessment__progress {
			height: 6px;
			border-radius: 100px;
			background-color: white;
			overflow: hidden;

			.progress-bar {
				width: 10%;
				height: 6px;
				border-radius: 3px;
				background: $primary;
				position: relative;
			}

			&__text {
				text-align: center;
				font-size: 16px;
				font-weight: 700;
				line-height: 1;
				color: $secondary;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.assessment {
		&__progress-bar {
			width: unset;
		}

		&__form {
			&__checkbox {
				label {
					max-width: 310px;
					min-height: 50px;
					border-radius: 12px;
					padding: 8px 12px;
					padding-right: 65px;
					text-align: left;
				}

				input:checked~label:after {
					font-size: 20px;
					line-height: 1;
					height: 20px;
					width: 20px;
				}

				input~label:after {
					font-size: 20px;
					line-height: 1;
					height: 20px;
					width: 20px;
				}
			}
		}

		&__buttons {
			max-width: 320px;
			gap: 15px;
			width: unset;

			.min-w-206 {
				width: 50% !important;
				min-width: unset !important;
			}

			.w-mob {
				min-width: 300px;
			}
		}
	}
}