/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* SF UI Fonts */
@font-face {
	font-family: "sfuidisplay";
	src: url("../fonts/sf-ui/sfuidisplayblack.eot");
	src: url("../fonts/sf-ui/sfuidisplayblack.eot") format("embedded-opentype"), url("../fonts/sf-ui/sfuidisplayblack.woff2") format("woff2"),
		url("../fonts/sf-ui/sfuidisplayblack.woff") format("woff"), url("../fonts/sf-ui/sfuidisplayblack.ttf") format("truetype"),
		url("../fonts/sf-ui/sfuidisplayblack.svg#sfuidisplayblack") format("svg");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "sfuidisplay";
	src: url("../fonts/sf-ui/sfuidisplayheavy.eot");
	src: url("../fonts/sf-ui/sfuidisplayheavy.eot") format("embedded-opentype"), url("../fonts/sf-ui/sfuidisplayheavy.woff2") format("woff2"),
		url("../fonts/sf-ui/sfuidisplayheavy.woff") format("woff"), url("../fonts/sf-ui/sfuidisplayheavy.ttf") format("truetype"),
		url("../fonts/sf-ui/sfuidisplayheavy.svg#sfuidisplayheavy") format("svg");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "sfuidisplay";
	src: url("../fonts/sf-ui/sfuidisplaybold.eot");
	src: url("../fonts/sf-ui/sfuidisplaybold.eot") format("embedded-opentype"), url("../fonts/sf-ui/sfuidisplaybold.woff2") format("woff2"),
		url("../fonts/sf-ui/sfuidisplaybold.woff") format("woff"), url("../fonts/sf-ui/sfuidisplaybold.ttf") format("truetype"),
		url("../fonts/sf-ui/sfuidisplaybold.svg#sfuidisplaybold") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "sfuidisplay";
	src: url("../fonts/sf-ui/sfuidisplaysemibold.eot");
	src: url("../fonts/sf-ui/sfuidisplaysemibold.eot") format("embedded-opentype"), url("../fonts/sf-ui/sfuidisplaysemibold.woff2") format("woff2"),
		url("../fonts/sf-ui/sfuidisplaysemibold.woff") format("woff"), url("../fonts/sf-ui/sfuidisplaysemibold.ttf") format("truetype"),
		url("../fonts/sf-ui/sfuidisplaysemibold.svg#sfuidisplaysemibold") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "sfuidisplay";
	src: url("../fonts/sf-ui/sfuidisplaymedium.eot");
	src: url("../fonts/sf-ui/sfuidisplaymedium.eot") format("embedded-opentype"), url("../fonts/sf-ui/sfuidisplaymedium.woff2") format("woff2"),
		url("../fonts/sf-ui/sfuidisplaymedium.woff") format("woff"), url("../fonts/sf-ui/sfuidisplaymedium.ttf") format("truetype"),
		url("../fonts/sf-ui/sfuidisplaymedium.svg#sfuidisplaymedium") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "sfuidisplay";
	src: url("../fonts/sf-ui/sfuidisplaylight.eot");
	src: url("../fonts/sf-ui/sfuidisplaylight.eot") format("embedded-opentype"), url("../fonts/sf-ui/sfuidisplaylight.woff2") format("woff2"),
		url("../fonts/sf-ui/sfuidisplaylight.woff") format("woff"), url("../fonts/sf-ui/sfuidisplaylight.ttf") format("truetype"),
		url("../fonts/sf-ui/sfuidisplaylight.svg#sfuidisplaylight") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "sfuidisplay";
	src: url("../fonts/sf-ui/sfuidisplaythin.eot");
	src: url("../fonts/sf-ui/sfuidisplaythin.eot") format("embedded-opentype"), url("../fonts/sf-ui/sfuidisplaythin.woff2") format("woff2"),
		url("../fonts/sf-ui/sfuidisplaythin.woff") format("woff"), url("../fonts/sf-ui/sfuidisplaythin.ttf") format("truetype"),
		url("../fonts/sf-ui/sfuidisplaythin.svg#sfuidisplaythin") format("svg");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "sfuidisplay";
	src: url("../fonts/sf-ui/sfuidisplayultralight.eot");
	src: url("../fonts/sf-ui/sfuidisplayultralight.eot") format("embedded-opentype"), url("../fonts/sf-ui/sfuidisplayultralight.woff2") format("woff2"),
		url("../fonts/sf-ui/sfuidisplayultralight.woff") format("woff"), url("../fonts/sf-ui/sfuidisplayultralight.ttf") format("truetype"),
		url("../fonts/sf-ui/sfuidisplayultralight.svg#sfuidisplayultralight") format("svg");
	font-weight: 100;
	font-style: normal;
}

/* Cabinet Grotesk Fonts */
@font-face {
	font-family: "CabinetGrotesk";
	src: url("../fonts/cabinet-grotesk/CabinetGroteskThin.otf") format("opentype"), url("../fonts/cabinet-grotesk/CabinetGroteskThin.eot") format("embedded-opentype"),
		url("../fonts/cabinet-grotesk/CabinetGroteskThin.ttf") format("truetype"), url("../fonts/cabinet-grotesk/CabinetGroteskThin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "CabinetGrotesk";
	src: url("../fonts/cabinet-grotesk/CabinetGroteskExtralight.eot") format("embedded-opentype"), url("../fonts/cabinet-grotesk/CabinetGroteskExtralight.woff") format("woff"),
		url("../fonts/cabinet-grotesk/CabinetGroteskExtralight.ttf") format("truetype"), url("../fonts/cabinet-grotesk/CabinetGroteskExtralight.otf") format("opentype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "CabinetGrotesk";
	src: url("../fonts/cabinet-grotesk/CabinetGroteskLight.eot") format("embedded-opentype"), url("../fonts/cabinet-grotesk/CabinetGroteskLight.woff") format("woff"),
		url("../fonts/cabinet-grotesk/CabinetGroteskLight.ttf") format("truetype"), url("../fonts/cabinet-grotesk/CabinetGroteskLight.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "CabinetGrotesk";
	src: url("../fonts/cabinet-grotesk/CabinetGroteskRegular.eot") format("embedded-opentype"), url("../fonts/cabinet-grotesk/CabinetGroteskRegular.woff") format("woff"),
		url("../fonts/cabinet-grotesk/CabinetGroteskRegular.ttf") format("truetype"), url("../fonts/cabinet-grotesk/CabinetGroteskRegular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CabinetGrotesk";
	src: url("../fonts/cabinet-grotesk/CabinetGroteskMedium.eot") format("embedded-opentype"), url("../fonts/cabinet-grotesk/CabinetGroteskMedium.woff") format("woff"),
		url("../fonts/cabinet-grotesk/CabinetGroteskMedium.ttf") format("truetype"), url("../fonts/cabinet-grotesk/CabinetGroteskMedium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CabinetGrotesk";
	src: url("../fonts/cabinet-grotesk/CabinetGroteskBold.eot") format("embedded-opentype"), url("../fonts/cabinet-grotesk/CabinetGroteskBold.woff") format("woff"),
		url("../fonts/cabinet-grotesk/CabinetGroteskBold.ttf") format("truetype"), url("../fonts/cabinet-grotesk/CabinetGroteskBlack.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "CabinetGrotesk";
	src: url("../fonts/cabinet-grotesk/CabinetGroteskExtrabold.eot") format("embedded-opentype"), url("../fonts/cabinet-grotesk/CabinetGroteskExtrabold.woff") format("woff"),
		url("../fonts/cabinet-grotesk/CabinetGroteskExtrabold.ttf") format("truetype"), url("../fonts/cabinet-grotesk/CabinetGroteskExtrabold.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "CabinetGrotesk";
	src: url("../fonts/cabinet-grotesk/CabinetGroteskBlack.eot") format("embedded-opentype"), url("../fonts/cabinet-grotesk/CabinetGroteskBlack.woff") format("woff"),
		url("../fonts/cabinet-grotesk/CabinetGroteskBlack.ttf") format("truetype"), url("../fonts/cabinet-grotesk/CabinetGroteskBlack.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
}

/* DM Sans Fonts */
/* DM Sans Fonts */
@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "DM Sans";
	src: url("../fonts/dm-sans/DMSans-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
