@use "variables" as *;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	scroll-behavior: smooth;
	// background-color: $blue-1;
}

body {
	font-family: "DM Sans", sans-serif;
	font-size: $fs-16;
	background-color: $background-1;
	color: $secondary;
	margin: 0px;
	background: url("/Themes/Thrivewellrx.Theme.ZePeptides/assets/img/bg/body-watermark.png") top center/auto auto repeat-y;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		a {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}

// Bootstrap Reset
.container {
	// width: 1200px;
	// max-width: 100%;
	// margin: 0 auto;
	padding: 0 15px;
}

@media all and (min-width: 1400px) {
	.container {
		max-width: 1200px;
	}
}

.index {
	position: relative;
	z-index: 10;
}

.dropdown-menu {
	background-color: $background-1;

	li {
		a {
			background-color: transparent;
			color: $light;

			&:hover {
				background-color: transparent;
				color: $secondary;
			}
		}
	}
}

.select {
	&__wrapper {
		position: relative;
		z-index: 99;

		&::after {
			content: "\e920";
			font-family: "icomoon";
			position: absolute;
			z-index: -1;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			font-size: 20px;
			font-weight: 700;
			line-height: 1;
			color: #AEAEAE;
		}
	}

	&__options {
		min-width: 140px;
		left: unset;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		background: transparent;
		color: $red;
		border: 1px solid $red;
		outline: 0;
		font-size: 16px;
		font-weight: 700;
		padding: 20px 15px;
		border-radius: 12px;
		position: relative;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;

		&--alt {
			width: 520px;
		}

		&--padding {
			padding: 15px 15px;
		}

		option {
			background-color: $primary !important;
			color: white;

			&:hover,
			&:checked {
				background-color: rgba($primary, 0.8) !important;
				color: white !important;
			}
		}
	}
}

.list-disc {
	list-style-type: disc;
}

.highlight {
	&__text {
		background: rgba($light, 0.05);
		padding: 25px 20px;
		text-align: center;
		border-radius: 16px;
		margin: 30px 0;

		p {
			font-size: 18px;
			margin-bottom: 0;
		}
	}
}

.cursor-pointer {
	cursor: pointer !important;
}

.cursor-auto {
	cursor: auto !important;
}

@media only screen and (max-width: 992px) {
	br {
		display: none;
	}

	body {
		&.header-open {
			height: 100vh;
			overflow: hidden;
		}
	}

	.highlight {
		&__text {
			padding: 15px;

			border-radius: 12px;
			margin: 20px 0;

			p {
				font-size: 16px;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.dropdown-menu {
		left: 50%;
		transform: translateX(-50%);
	}

	.pika-single {
		left: 50% !important;
		transform: translateX(-50%) !important;
	}
}
