@use "variables" as *;

.form-control {
	box-shadow: none;
	outline: 0;
	color: $secondary;

	&::placeholder {
		color: $secondary;
	}

	&:focus {
		box-shadow: none;
		border-color: $light;
	}
}

textarea.form-control {
	border: 0px;
	padding: 15px;
	line-height: 1.6;
	border-radius: 8px;
	resize: none;
	font-size: 18px;

	&::placeholder {
		color: $secondary !important;
	}
}

.bootstrap-datetimepicker-widget {
	&.dropdown-menu {
		min-width: 380px;
		font-size: 16px;
		padding: 10px;
		border: 0px;
		background: linear-gradient(0deg, rgba($background-1, 0.9), rgba($background-1, 0.9)), linear-gradient(0deg, rgba($secondary, 0.6), rgba($secondary, 0.6)),
			url("../../img/bg-pattern-2.png");

		&.top {
			left: 50% !important;
			transform: translateX(-50%);
			bottom: calc(100% + 10px) !important;

			&:before,
			&:after {
				left: 50% !important;
				transform: translateX(-50%);
			}

			&:after {
				display: none;
			}

			&:before {
				border-left: 14px solid transparent;
				border-right: 14px solid transparent;
				border-top: 12px solid rgba($background-1, 0.9);
				bottom: -12px;
			}
		}

		.datepicker {
			thead {
				border-bottom: 1px solid $secondary;

				tr {
					th {
						height: 30px;
						padding: 6px;
						line-height: 30px;
						color: $light;
						font-weight: 500;
					}

					&:first-child {
						th {
							&:hover {
								background-color: $secondary;
							}
						}
					}
				}
			}

			.datepicker-days {
				tbody {
					tr {
						td {
							height: 40px;
							padding: 6px;
							line-height: 40px;
							width: 40px;
							transition: 0.5s;
							border-radius: 50px;

							&:hover {
								transition: 0.5s;
								background-color: $secondary;
							}

							&.today {
								&:before {
									content: "";
									position: absolute;
									top: 1px;
									left: 1px;
									width: 50px;
									height: 50px;
									border-radius: 50%;
									border: 1px solid $secondary;
								}

								& {
									background-color: $secondary;
								}

								// border: 1px solid $background-1;
								// border-radius: 50px;
							}

							&.active {
								background-color: $background-1;
								color: $secondary;
								transition: 0.5s;

								&::before {
									display: none;
								}

								&:hover {
									background-color: $secondary;
								}
							}
						}
					}
				}
			}

			.datepicker-months,
			.datepicker-years {
				tbody {
					tr {
						td {
							border-radius: 0px;

							&:hover {
								background-color: transparent;
							}

							span {
								border-radius: 54px;

								&:hover {
									background-color: $secondary;
								}

								&.active {
									background-color: $background-1;
									color: $secondary;

									&:hover {
										background-color: $secondary;
									}
								}
							}
						}
					}
				}
			}

			.datepicker-decades {
				tbody {
					tr {
						td {
							&:hover {
								background-color: transparent;
							}

							span {
								border-radius: 12px;
								width: 104px;
								height: 30px;

								&:hover {
									background-color: $secondary;
								}

								&.active {
									background-color: $background-1;
									color: $secondary;

									&:hover {
										background-color: $secondary;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.tooltip {
	z-index: 970;

	.tooltip {
		&-inner {
			border-radius: 5px;
		}
	}
}
