---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<main class="page">
		<div class="page__wrapper page__wrapper--alt">
			<section class="about">
				<div class="container p-0">
					<h1
						class="hero__title text-center text-purple"
						data-aos="fade-up"
						data-aos-duration="1000"
						data-aos-delay="300"
						>About&nbsp;<span class="text-primary-grad-1">Us</span></h1
					>
					<h2
						class="text-center"
						data-aos="fade-up"
						data-aos-duration="1000"
						data-aos-delay="300"
						>The Future of Effective,&nbsp;<span class="text-primary-grad-1"
							>Healthy Weight Management</span
						></h2
					>
					<p
						class="text-center mt-30 text-gray-700"
						data-aos="fade-up"
						data-aos-duration="1000"
						data-aos-delay="400"
						>VPeptides Scientific is a premier weight loss management program
						operating in coordination with reputable doctor’s offices and
						clinics across the United States. Using a cutting edge medication,
						nutrition, and education program, Nexgen Scientific ’s protocol
						delivers better results than relying on GLP-1s alone.
					</p>
				</div>
			</section>
		</div>
	</main>
	<Footer />
</Layout>
