---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<!--=====|| Main Section Start ||=====-->
	<main class="page">
		<div class="page__wrapper page__wrapper--alt">
			<!-- ==|| Banner Section Start ||== -->
			<section class="about">
				<div class="about__banner">
					<div class="container">
						<div class="row">
							<div class="col-xl-7 col-lg-8 col-md-8">
								<div class="about__banner__content">
									<h5
										class="site__heading-five text-white text-md-start text-center"
										>About Us</h5
									>
									<h4
										class="site__heading-four text-white mt-md-30 mt-20 text-md-start text-center"
										>Healthcare that feels good—like something made for you, not
										prescribed to you.</h4
									>
									<p
										class="fs-md-22 fs-sm-18 fs-16 text-white mt-md-30 mt-3 mb-0 text-md-start text-center"
										>It’s care that fits into your life naturally, without
										judgment, pressure, or confusion. It’s about replacing dread
										with ease, silence with support, and stigma with
										empowerment. Because when healthcare feels good, it becomes
										something you want to do —not something you have to.</p
									>
								</div>
							</div>
						</div>
					</div>

					<div class="about__img">
						<img
							src="Themes/Thrivewellrx.Theme.Slimout/assets/img/about-us.webp"
							alt="About Us"
						/>
					</div>
					<div class="about__grad">
						<img
							src="Themes/Thrivewellrx.Theme.Slimout/assets/img/bg/about-grad.svg"
							alt="About Us"
						/>
					</div>
				</div>
			</section>
			<!--===|| Banner Section End ||===-->

			<!-- ==|| Our Values Section Start ||== -->
			<section class="our-values">
				<div class="container">
					<div class="our-values__wrapper">
						<div class="row">
							<div class="col-md-6">
								<h2
									class="site__heading-two text-secondary client__title text-md-start text-center"
									>Our Values</h2
								>
								<img
									class="mt-md-30 d-md-block d-none"
									style="max-width: 300px;"
									src="Themes/Thrivewellrx.Theme.Slimout/assets/img/frame/frame-with-title-green.svg"
									alt="frame"
								/>
							</div>
							<div class="col-md-6 mt-md-0 mt-20">
								<p class="mb-0 text-md-start text-center"
									>At Slimout, we believe in a holistic approach to health that
									seamlessly integrates into your everyday life. Our core values
									center around compassion, clarity, and empowerment. We strive
									to transform the healthcare experience by fostering an
									environment free from judgment and pressure, where support is
									always available. We aim to replace anxiety with confidence,
									ensuring that taking care of your health is a positive choice
									you embrace, not a chore you dread. Join us in redefining
									wellness, where every step towards better health is
									celebrated.</p
								>
							</div>
						</div>
						<div class="row mt-md-80 mt-20 g-4">
							<div class="col-md-6">
								<div class="our-values__item our-values__item__one">
									<h4 class="our-values__heading site__heading-four"
										>Compassion First</h4
									>
									<p class="our-values__text"
										>At Slimout, we believe in a holistic approach to health
										that seamlessly integrates into your everyday life. Our core
										values center around compassion, clarity, and empowerment.
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="our-values__item our-values__item__two">
									<h4 class="our-values__heading site__heading-four"
										>Progress celebrated</h4
									>
									<p class="our-values__text"
										>At Slimout, we believe in a holistic approach to health
										that seamlessly integrates into your everyday life. Our core
										values center around compassion, clarity, and empowerment.
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="our-values__item our-values__item__three">
									<h4 class="our-values__heading site__heading-four"
										>Clear guidance</h4
									>
									<p class="our-values__text"
										>At Slimout, we believe in a holistic approach to health
										that seamlessly integrates into your everyday life. Our core
										values center around compassion, clarity, and empowerment.
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="our-values__item our-values__item__four">
									<h4 class="our-values__heading site__heading-four"
										>Compassion First</h4
									>
									<p class="our-values__text"
										>At Slimout, we believe in a holistic approach to health
										that seamlessly integrates into your everyday life. Our core
										values center around compassion, clarity, and empowerment.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="ceo-img">
								<img
									class="img-fluid"
									src="Themes/Thrivewellrx.Theme.Slimout/assets/img/ceo.png"
									alt="About Us"
								/>
							</div>
						</div>
						<div
							class="col-md-6 d-flex align-items-center flex-column justify-content-center ceo__content"
						>
							<h2
								class="site__heading-two text-secondary client__title text-md-start text-center"
								>Meet Our CEO</h2
							>
							<p class="mt-20 mb-0">
								At Slimout, we believe in a holistic approach to health that
								seamlessly integrates into your everyday life. Our core values
								center around compassion, clarity, and empowerment. We strive to
								transform the healthcare experience by fostering an environment
								free from judgment and pressure, where support is always
								available. We aim to replace anxiety with confidence, ensuring
								that taking care of your health is a positive choice you
								embrace, not a chore you dread. Join us in redefining wellness,
								where every step towards better health is celebrated.</p
							>
						</div>
					</div>
				</div>
			</section>
			<!-- ==|| Our Values Section End ||== -->

			<!-- ===|| Serving Section Start ||=== -->
			<section class="serving">
				<div class="container">
					<div class="section__title d-md-flex align-items-center gap-3">
						<h2
							class="site__heading-two text-md-start text-center text-white text-capitalize"
							>Serving patients Nationwide</h2
						>
						<div class="d-md-block d-none">
							<img
								src="Themes/Thrivewellrx.Theme.Slimout/assets/img/frame/frame-with-title-blue.svg"
								alt="frame "
							/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<p class="text-white mt-md-5 mt-3"
								>No matter where you are in the U.S., we’re here to help. Our
								nationwide network ensures every patient has access to the care,
								medications, and personalized support they need—delivered with
								efficiency and compassion.</p
							>
						</div>
						<div class="text-center mt-md-50 mt-30">
							<img
								class="img-fluid"
								src="Themes/Thrivewellrx.Theme.Slimout/assets/img/frame/map.svg"
								alt="Map"
							/>
						</div>
					</div>
				</div>
			</section>
			<!-- ===|| Serving Section End ||=== -->
		</div>
	</main>
	<!--=====|| Main Section End ||=====-->
	<Footer />
</Layout>
