---
import AssesmentFooter from "../components/AssesmentFooter.astro";
import AssesmentHeader from "../components/AssesmentHeader.astro";
import CommonAction from "../components/CommonAction.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="assessment__page-wrapper">
		<div class="container">
			<div class="assessment">
				<!--Assesment Header Start -->
				<AssesmentHeader />
				<!--Assesment Header End -->

				<!-- Assessment question title start -->
				<div class="assessment__question mt-40">
					State that you are eligible to work, not for marketing purposes.
				</div>
				<!-- Assessment question title end -->

				<!-- Assessment question sub title start -->
				<label
					class="assessment__label text-center d-block mt-50"
					for="textareaOne"
				>
					How much decline in your work performance have you noticed?
				</label>
				<!-- Assessment question sub title end -->

				<!-- Assessment form start -->
				<div class="assessment__form mt-30">
					<div class="textarea__wrapper">
						<textarea
							class="form-control"
							rows="5"
							placeholder="Write down here"
							name="textareaOne"
							id="textareaOne"></textarea>
						<span class="textarea__word-count">0/300</span>
					</div>
				</div>
				<!-- Assessment form end -->

				<!-- Assessment buttons start -->
				<CommonAction />
				<!-- Assessment buttons end -->
			</div>
		</div>

		<!--Footer Section end-->
		<AssesmentFooter />
	</div>
</Layout>
