---
import AssesmentFooter from "../components/AssesmentFooter.astro";
import AssesmentHeader from "../components/AssesmentHeader.astro";
import CommonAction from "../components/CommonAction.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="assessment__page-wrapper">
		<div class="container">
			<div class="assessment">
				<!--Assesment Header Start -->
				<AssesmentHeader />
				<!--Assesment Header End -->
				<!-- Assessment question sub title start -->
				<div class="assessment__label mt-50">
					How much decline in your work performance have you noticed?
				</div>
				<!-- Assessment question sub title end -->

				<!-- Assessment form start -->
				<div class="assessment__form mt-30">
					<div class="assessment__form__checkbox">
						<input
							type="checkbox"
							name="answerCheckbox"
							id="answerCheckbox1"
							value="yes"
							checked
						/>
						<label for="answerCheckbox1"> Yes </label>
					</div>

					<div class="assessment__form__checkbox mt-30">
						<input
							type="checkbox"
							name="answeCheckbox"
							id="answerCheckbox2"
							value="yes"
						/>
						<label for="answerCheckbox2"> No </label>
					</div>

					<div class="assessment__form__checkbox mt-30">
						<input
							type="checkbox"
							name="answeCheckbox"
							id="answerCheckbox3"
							value="yes"
						/>
						<label for="answerCheckbox3">
							Elicit timing (onset, duration, frequency, progression over time)
							of symptom Elicit timing (onset, duration, frequency, progression
							over time) of symptom.
						</label>
					</div>
				</div>
				<!-- Assessment form end -->

				<!-- Assessment buttons start -->
				<CommonAction />
			</div>
		</div>

		<!--Footer Section end-->
		<AssesmentFooter />
	</div>
</Layout>
