---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<!--=====|| Main Section Start ||=====-->

	<main class="page">
		<div class="common__banner">
			<div class="container">
				<h4 class="site__heading-four text-white text-center">
					Answers To Popular Questions
				</h4>
			</div>
		</div>
		<div class="page__wrapper">
			<!-- ==|| FAQ Section Start ||== -->
			<section class="faq faq__main">
				<div class="container">
					<div class="accordion faq__lg" id="accordion">
						<!-- FAQ Item 1 -->
						<div class="accordion-item accordion-item--alt">
							<h2 class="accordion-header faq__lg__heading" id="headingOne">
								<button
									class="accordion-button accordion-button__alt"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseOne"
									aria-expanded="true"
									aria-controls="collapseOne"
								>
									What is the difference between GLP-1 medications and GLP-1/GIP
									medications?
								</button>
							</h2>
							<div
								id="collapseOne"
								class="accordion-collapse collapse show"
								aria-labelledby="headingOne"
								data-bs-parent="#accordion"
							>
								<div class="accordion-body accordion-body--alt faq__lg__body">
									GLP-1 are receptor agonists, which mimics a hormone that helps
									regulate blood sugar levels, slow down digestion, and reduce
									appetite. GLP-1/GIP medications, on the other hand, are dual
									GIP and GLP-1 receptor agonists, meaning it mimics two
									hormones that regulate blood sugar and appetite. This dual
									action can make weight loss programs with injections more
									effective. By combining two hormonal effects, GLP-1/GIP
									medication enhances the benefits of weight loss programs with
									injections, offering better blood sugar control and greater
									weight loss compared to using GLP-1 alone.
								</div>
							</div>
						</div>

						<!-- FAQ Item 2 -->
						<div class="accordion-item accordion-item--alt">
							<h2 class="accordion-header faq__lg__heading" id="headingTwo">
								<button
									class="accordion-button accordion-button__alt collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseTwo"
									aria-expanded="false"
									aria-controls="collapseTwo"
								>
									Should I expect any side effects?
								</button>
							</h2>
							<div
								id="collapseTwo"
								class="accordion-collapse collapse"
								aria-labelledby="headingTwo"
								data-bs-parent="#accordion"
							>
								<div class="accordion-body accordion-body--alt faq__lg__body">
									Many people who join our rapid weight Loss programs enjoy the
									benefits of these medications with few or no side effects. And
									with NexgenMD360’s approach to weight loss for men and women,
									side effects are minimized through a gradual increase in
									dosage. Should they occur, it can include nausea at first or
									slight gastrointestinal discomfort. Staying hydrated and
									eating small, frequent meals can help manage these issues
									should you experience them.
								</div>
							</div>
						</div>

						<!-- FAQ Item 3 -->
						<div class="accordion-item accordion-item--alt">
							<h2 class="accordion-header faq__lg__heading" id="headingThree">
								<button
									class="accordion-button accordion-button__alt collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseThree"
									aria-expanded="false"
									aria-controls="collapseThree"
								>
									Will any existing medical condition change my eligibility?
								</button>
							</h2>
							<div
								id="collapseThree"
								class="accordion-collapse collapse"
								aria-labelledby="headingThree"
								data-bs-parent="#accordion"
							>
								<div class="accordion-body accordion-body--alt faq__lg__body">
									For the vast majority of people, both medications will be safe
									and effective. However, as with many medications, those with a
									personal or family history of Medullary Thyroid Carcinoma
									(MTC) or Multiple Endocrine Neoplasia Syndrome Type 2 (MEN2)
									should not take either medication. Others who are not
									recommended for these medications include those with severe
									gastroparesis or other severe gastrointestinal diseases,
									individuals with a history of pancreatitis, severe kidney
									disease, or impaired kidney function, patients with a history
									of diabetic retinopathy, or anyone who has had a severe
									allergic reaction to GLP-1, GLP-1/GIP, or any of their
									components. These medications are also not recommended for use
									during pregnancy or breastfeeding, and safety and efficacy in
									individuals under 18 have not been established. In such cases,
									incorporating a nutritionist plan for weight loss can be a
									valuable alternative to support your health and weight loss
									goals.
								</div>
							</div>
						</div>

						<!-- FAQ Item 4 -->
						<div class="accordion-item accordion-item--alt">
							<h2 class="accordion-header faq__lg__heading" id="headingFour">
								<button
									class="accordion-button accordion-button__alt collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseFour"
									aria-expanded="false"
									aria-controls="collapseFour"
								>
									How long before I should expect to see results?
								</button>
							</h2>
							<div
								id="collapseFour"
								class="accordion-collapse collapse"
								aria-labelledby="headingFour"
								data-bs-parent="#accordion"
							>
								<div class="accordion-body accordion-body--alt faq__lg__body">
									Similar to GLP-1, improvements in blood sugar levels can be
									observed within the first week of beginning GLP-1/GIP.
									Appetite reduction usually begins within the first few weeks
									of treatment and many individuals may start to notice weight
									loss within the first month. Significant weight loss generally
									occurs over 3 to 6 months, with continued improvements seen
									over a year or more with consistent use and healthy lifestyle
									changes. Combining the medication with a healthy diet and
									regular physical activity can enhance results and lead to more
									sustainable weight loss and blood sugar control. While some
									effects can be seen relatively quickly, achieving significant
									weight loss and optimal blood sugar control often requires
									patience and consistent use of the medication over several
									months. Of course, results can vary based on individual
									metabolic rates, adherence to the medication regimen, and
									overall health status.
								</div>
							</div>
						</div>

						<!-- FAQ Item 5 -->
						<div class="accordion-item accordion-item--alt">
							<h2 class="accordion-header faq__lg__heading" id="headingFive">
								<button
									class="accordion-button accordion-button__alt collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseFive"
									aria-expanded="false"
									aria-controls="collapseFive"
								>
									What kind of additional support do you offer?
								</button>
							</h2>
							<div
								id="collapseFive"
								class="accordion-collapse collapse"
								aria-labelledby="headingFive"
								data-bs-parent="#accordion"
							>
								<div class="accordion-body accordion-body--alt faq__lg__body">
									Monthly follow-ups with our physician will be done to monitor
									progress, adjust dosages if necessary, and manage any side
									effects. In addition, you’ll receive a personalized
									nutritionist plan for weight loss, tailored to your individual
									health conditions and treatment plans to help you achieve the
									best results.
								</div>
							</div>
						</div>

						<!-- FAQ Item 6 -->
						<div class="accordion-item accordion-item--alt">
							<h2 class="accordion-header faq__lg__heading" id="headingSix">
								<button
									class="accordion-button accordion-button__alt collapsed"
									type="button"
									data-bs-toggle="collapse"
									data-bs-target="#collapseSix"
									aria-expanded="false"
									aria-controls="collapseSix"
								>
									What happens when I reach my ideal weight?
								</button>
							</h2>
							<div
								id="collapseSix"
								class="accordion-collapse collapse"
								aria-labelledby="headingSix"
								data-bs-parent="#accordion"
							>
								<div class="accordion-body accordion-body--alt faq__lg__body">
									Reaching a goal weight with the help of GLP-1 or GLP-1/GIP
									medications as part of our rapid weight loss programs is a
									significant achievement. Maintaining that weight requires a
									comprehensive plan, including medical supervision, lifestyle
									changes, and possibly continued medication use at a
									maintenance dose. Emphasizing healthy eating, regular physical
									activity, and behavioral support is crucial for maintaining
									weight loss. If you decide to discontinue the medication,
									NexgenMD360’s physician will guide you through a gradual
									process to minimize the risk of weight regain. This approach
									supports weight loss for men and women in achieving lasting
									results.
								</div>
							</div>
						</div>
					</div>

					<!-- <div class="faq__show-more">
						<a href="#" class="text-white">Show More</a>
					</div> -->
				</div>
			</section>

			<!-- ==|| FAQ Section End ||== -->
		</div>
	</main>
	<!--=====|| Main Section End ||=====-->

	<Footer />
</Layout>
