---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<!-- =====|| Main Section Start ||====== -->

	<main class="page">
		<!-- ==|| Login Section Start ||== -->
		<section class="login">
			<div class="login-container rounded-4">
				<div class="top-container text-center">
					<h1 class="title mb-1 text-primary-grad-1">Forgot Password</h1>
				</div>

				<form class="needs-validation" novalidate>
					<div class="form-div w-full">
						<div class="forgot-info">
							<p class="forgot-info-p"
								>If you forgot your password an email with a password reset link
								will be sent to you. Click on the link in that email and you
								will be taken to a page where you can then create a new
								password.</p
							>
						</div>
						<label for="email" class="form-label">
							Email Address <span class="text-danger">*</span>
						</label>
						<input
							type="email"
							class="form-control form-control-lg"
							id="email"
							required
						/>
						<div class="invalid-feedback">Please enter a valid email.</div>
					</div>

					<div
						class="form-div d-flex align-items-center justify-content-start mb-4"
					>
					</div>
					<div class="btn-div">
						<button
							type="submit"
							class="theme-btn theme-btn__primary theme-btn__min-w-100 w-100 btn-lg mb-4"
						>
							Log In
						</button>

						<div class="text-center mt-3">
							<a
								href="#"
								class="d-block mb-3 text-link text-decoration-underline forgot-text"
								>Forgot Password?</a
							>
							<p class="first-time-text">
								First-time Visitor? <a
									href="#"
									class="text-link text-decoration-underline fw-medium"
									>Create an account</a
								>
							</p>
						</div></div
					>
				</form>
			</div>
		</section>
	</main>
	<!-- ==|| Login Section End ||== -->
</Layout>

<Footer />
