---
import Client from "../components/Client.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Homehero from "../components/homePage/Homehero.astro";
import HowItWorks from "../components/homePage/HowItWorks.astro";
import WhyChooseUs from "../components/homePage/WhyChooseUs.astro";

import ProductCard from "../components/ProductCard.astro";
import Toast from "../components/Toast.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />
	<!--=====|| Main Section Start ||=====-->
	<main class="page">
		<!--===|| Banner Section Start ||===-->

		<Homehero />
		<!--===|| Banner Section End ||===-->

		<!-- <div class="ebook__download">
			<button class="ebook__download__btn">
				<div class="ebook__download__img">
					<img
						src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/e-book.svg"
						alt="E-Book"
					/>
				</div>
				<span class="ebook__download__content">Download Free E Book</span>
			</button>
		</div> -->

		<!--===|| Product Section Start ||===-->
		<section class="product py-50 py-md-100">
			<div class="container">
				<h1
					class="site__heading-one text-center"
					data-aos="fade-up"
					data-aos-duration="1400"
					data-aos-delay="400"
					data-aos-easing="cubic-bezier(0.16, 0.84, 0.44, 1)"
					data-aos-anchor=".home__hero"
					data-aos-offset="100"
				>
					Our
					<span class="text-primary-grad-1">Products</span>
				</h1>
				<p
					class="text-center mt-20 mt-md-24"
					data-aos="fade-up"
					data-aos-duration="1400"
					data-aos-delay="600"
					data-aos-easing="cubic-bezier(0.16, 0.84, 0.44, 1)"
					data-aos-anchor=".home__hero"
				>
					High-quality research peptides for laboratory use — verified for
					purity and quality
				</p>
				<div
					class="d-flex justify-content-center gap-3 align-items-center mt-20 mt-md-24 text-red"
					data-aos="fade-up"
					data-aos-duration="1400"
					data-aos-delay="900"
					data-aos-easing="cubic-bezier(0.16, 0.84, 0.44, 1)"
					data-aos-anchor=".home__hero"
				>
					<i class="icon-alert"></i>
					<span class="text-md-body4 lh-1"
						>For Research Purposes Only — Not for Human Consumption</span
					>
				</div>

				<div
					class="zepeptides-search max-w-full mt-30 mt-md-24"
					data-aos="flip-left"
					data-aos-duration="1600"
					data-aos-delay="1500"
					data-aos-easing="cubic-bezier(0.16, 0.84, 0.44, 1)"
					data-aos-anchor=".home__hero"
				>
					<div class="zepeptides-search__icon">
						<i class="icon-search"></i>
					</div>
					<input
						type="text"
						class="zepeptides-search__input text-center"
						id="productSearch"
						placeholder="Search by product/treatment"
						data-bind="textInput: statSearch"
					/>
					<div class="zepeptides-search__icon__right">
						<i class="icon-cross1"></i>
					</div>
				</div>
				<p
					class="mt-16 mt-md-20 fs-14 fs-md-18 mb-50 text-center"
					data-aos="fade-up"
					data-aos-duration="1400"
					data-aos-delay="2000"
					data-aos-easing="cubic-bezier(0.16, 0.84, 0.44, 1)"
					data-aos-anchor=".home__hero"
					>No results found for “<span>hello world</span>”. Check the spelling
					or use a different word or phrase.</p
				>

				<ProductCard />

				<!-- <div class="col-md-12">
					<img class="img-fluid" src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/product-not-found.svg" alt="">
				</div> -->
			</div>
		</section>
		<!--===|| Product Section End ||===-->

		<!--===|| How it Works Section Start ||===-->

		<HowItWorks />

		<!--===|| How it Works Section End ||===-->

		<!-- Why Choose Us ZePeptides Section Start -->
		<WhyChooseUs />
		<!-- Why Choose Us ZePeptides Section End -->

		<!--===|| Faq Section Start ||===-->
		<section class="faq py-50 py-md-100">
			<div class="container faq__wrapper">
				<div class="row">
					<div class="col-lg-12 faq__items">
						<Faq />
					</div>
				</div>
			</div>
		</section>
		<!--===|| Faq Section End ||===-->

		<!--===|| Client Feedback Section Start ||===-->
		<Client />
		<!--===|| Client Feedback Section End ||===-->

		<!--=====|| Main Section End ||=====-->
	</main>

	

	<Footer />
	<!-- =====|| Toast Start ||====== -->
	<Toast />
	<!-- =====|| Toast Start ||====== -->
</Layout>

<!--Unable To Proceed Start -->
<div
	id="unableProceed"
	class="modal fade dose-modal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<!-- <button type="button" class="btn-close" data-dismiss="modal">
				<i class="icon-cross_filled"></i>
			</button> -->

			<div class="modal-body">
				<div class="modal__text mt-0">
					<i class="icon-alert fs-md-90 fs-70"></i>
					<h5 class="site__heading-five fw-bold text-secondary text-center"
						>We're Unable to Proceed with Your Treatment
					</h5>
				</div>
				<p class="text-blue-6 text-center mb-20 fs-md-18 fs-16 mt-md-30 mt-10">
					<span class="fw-bold">Your BMI is 21.25.</span> Based on the medical information
					you’ve provided, it appears that you may have a condition that makes treatment
					with GLP-1 medications unsafe at this time. For your safety, we recommend
					consulting with your personal healthcare provider before pursuing any weight
					loss treatments.
				</p>

				<div class="modal__actions">
					<button
						class="modal__action modal__action--outline"
						data-bs-dismiss="modal"
						aria-label="Close"
						type="button"
					>
						Cancel
					</button>
					<button class="modal__action modal__action--primary" type="button">
						Confirm
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Unable To Proceed End -->
