---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<!-- =====|| Main Section Start ||====== -->

	<main class="page">
		<!-- ==|| Login Section Start ||== -->
		<section class="login py-5">
			<div class="container p-0">
				<div class="row justify-content-center mt-120 mt-sm-150 mx-0">
					<div class="col-11 col-sm-10 col-md-8 col-lg-8">
						<div class="login__header text-center mb-30">
							<div class="col-12 text-center">
								<h1 class="text-primary-grad-1 mb-0">Returning Customer</h1>
							</div>

							<!-- Heading Row 2 -->
							<div class="col-12 text-center mb-5">
								<h2 class="text-primary-grad-1" style="line-height: 160%;"
									>Log in to confirm your journey</h2
								>
							</div>
						</div>
					</div>

					<form>
						<div class="container p-0">
							<div class="row justify-content-center mx-0">
								<div class="col-11 col-sm-10 col-md-8 col-lg-6">
									<label for="email" class="basic-label">
										Email Address <span class="icon-ellipse"> </span></label
									>
									<input
										type="email"
										class="basic-input form-control"
										id="email"
										required
									/>
									<p class="basic-error">Email Address is required</p>

									<label for="password" class="basic-label mt-24">
										Password<span class="icon-ellipse"> </span></label
									>

									<input
										type="password"
										class="basic-input form-control"
										id="password"
										required
									/>
									<p class="basic-error">Password required</p>
									<div class="d-flex gap-2 p-2 mt-24">
										<input
											class="form-check-input"
											type="checkbox"
											id="remember"
											checked
										/>
										<label class="basic-label mb-24" for="remember">
											Remember me
										</label>
									</div>
									<button
										type="submit"
										class="theme-btn theme-btn__primary theme-btn__min-w-100 w-100 btn-lg mb-4"
									>
										Log In
									</button>

									<div class="text-center mt-3">
										<a
											href="#"
											class="d-block mb-3 text-link text-decoration-underline forgot-text"
											>Forgot Password?</a
										>
										<p class="first-time-text mb-60">
											First-time Visitor? <a
												href="#"
												class="text-link text-decoration-underline fw-medium"
												>Create an account</a
											>
										</p>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- ==|| Login Section End ||== -->
		</section>
	</main>

	<Footer />
</Layout>
