---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import OrderTable from "../components/OrderTable.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<!-- =====|| Main Section Start ||====== -->
	<main class="page page__alt">
		<div class="page__wrapper page__wrapper--alt">
			<!-- ==|| My Order Section Start ||== -->
			<section class="my-order">
				<div class="container">
					<h2 class="cart-hero__heading text-left">
						<span class="text-primary-grad-1 fw-700 fs-md-70">My Order</span>
					</h2>

					<div
						class="card-basic card-basic--no-shadow card-basic__table-desktop"
					>
						<div class="card-basic__body">
							<div class="list-table">
								<div class="table-responsive">
									<table class="table table-striped order-list">
										<thead>
											<tr>
												<th>Date</th>
												<th>Medication</th>
												<th>Order ID</th>
												<!-- <th>Prescription</th>
												<th>Lab Reports</th>
												<th>Driving License</th>
												<th>Intake form</th> -->
												<th>Status</th>
												<th>Details</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td class="list-table__time">12/28/2024 03:37:02 PM</td>
												<td>2X Blend Tesamorelin (10mg)/Ipamorelin (5mg)</td>
												<td>#nx20250400010</td>
												<!-- <td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td> -->
												<!-- <td>
													<div class="list-table__actions">
														<button
															class="view-button"
															data-toggle="modal"
															data-target="#view-reports-modal"
														>
															View (5)
														</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td> -->
												<!-- <td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td> -->
												<!-- <td>
													<button
														class="view-button"
														data-toggle="modal"
														data-target="#modal-intake-form-view"
													>
														View
													</button>
												</td> -->
												<td>
													<span class="status-pill status-pill--default">
														Received
													</span>
												</td>
												<td>
													<button type="button" class="view-button">
														View
													</button>
												</td>
											</tr>

											<tr>
												<td class="list-table__time">12/28/2024 03:37:02 PM</td>
												<td>2X Blend Tesamorelin (10mg)/Ipamorelin (5mg)</td>
												<td>#nx20250400010</td>
												<!-- <td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td>
													<div class="list-table__actions">
														<button class="view-button">View (5)</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td><a href="" class="view-button">View</a></td> -->
												<td>
													<span class="status-pill status-pill--warning">
														Processing
													</span>
												</td>
												<td>
													<button type="button" class="view-button">
														View
													</button>
												</td>
											</tr>

											<tr>
												<td>12/28/2024</td>
												<td>Kyzetrex</td>
												<td>#7387</td>
												<!-- <td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td>
													<div class="list-table__actions">
														<button class="view-button">View (5)</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td><a href="" class="view-button">View</a></td> -->
												<td>
													<span class="status-pill status-pill--danger">
														Declined
													</span>
												</td>
												<td>
													<button type="button" class="view-button">
														View
													</button>
												</td>
											</tr>

											<tr>
												<td>12/28/2024</td>
												<td>Kyzetrex</td>
												<td>#7387</td>
												<!-- <td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td>
													<div class="list-table__actions">
														<button class="view-button">View (5)</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td><a href="" class="view-button">View</a></td> -->
												<td>
													<span class="status-pill status-pill--success">
														Delivered
													</span>
												</td>
												<td>
													<button type="button" class="view-button">
														View
													</button>
												</td>
											</tr>

											<tr>
												<td>12/28/2024</td>
												<td>Kyzetrex</td>
												<td>#7387</td>
												<!-- <td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td>
													<div class="list-table__actions">
														<button class="view-button">View (5)</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td>
													<div class="list-table__actions">
														<button class="view-button">View</button>
														<button class="view-button view-button--icon">
															<i class="icon-upload"></i>
														</button>
													</div>
												</td>
												<td><a href="" class="view-button">View</a></td> -->
												<td>
													<span class="status-pill status-pill--warning"
														>Shipped</span
													>
												</td>
												<td>
													<button type="button" class="view-button">
														View
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div
						class="card-basic card-basic--no-shadow card-basic__table-mobile"
					>
						<div class="card-basic__body">
							<OrderTable />
						</div>
					</div>
				</div>
			</section>
			<!-- ==|| My Order Section End ||== -->
		</div>
	</main>
	<!-- =====|| Main Section End ||====== -->
</Layout>

<Footer />

<!-- Lab Report Modal Start-->
<div
	class="modal fade lab-report-modal"
	id="view-reports-modal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myModalLabel"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content overflow-h">
			<div class="modal-header">
				<p class="modal-title fs-22">Lab Reports</p>

				<button
					type="button"
					class="modal-close btn-close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<i class="icon-cross_filled"></i>
				</button>
			</div>
			<div class="modal-body p-0">
				<div class="list-table">
					<div class="table-responsive">
						<table class="table table-striped table__alt">
							<thead>
								<tr>
									<th>Report Name</th>
									<th>File Type</th>
									<th>Details</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>CVC Report</td>
									<td class="text-uppercase">PDF</td>
									<td>
										<button type="button" class="view-button">View</button>
									</td>
								</tr>

								<tr>
									<td>Biilirubin</td>
									<td class="text-uppercase">jpg</td>
									<td>
										<button type="button" class="view-button">View</button>
									</td>
								</tr>

								<tr>
									<td>Ammonia</td>
									<td class="text-uppercase">png</td>
									<td>
										<button type="button" class="view-button">View</button>
									</td>
								</tr>
								<tr>
									<td>Amylase</td>
									<td class="text-uppercase">pdf</td>
									<td>
										<button type="button" class="view-button">View</button>
									</td>
								</tr>
								<tr>
									<td>Ammonia</td>
									<td class="text-uppercase">pdf</td>
									<td>
										<button type="button" class="view-button">View</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Lab Report Modal End-->

<!-- Intake Form Modal Start-->
<div
	class="modal fade intake-form-modal"
	id="modal-intake-form-view"
	tabindex="-1"
	role="dialog"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<p class="modal-title fs-36 fw-600">Intake Form</p>

				<button
					type="button"
					class="modal-close btn-close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<i class="icon-cross_filled"></i>
				</button>
			</div>
			<div class="modal-body modal-body__alt">
				<div class="modal__qa">
					<p class="modal__ques">1. Are you diabetic?</p>
					<p class="modal__ans">-Yes</p>
				</div>
				<div class="modal__qa">
					<p class="modal__ques"
						>2. Please list any oral medications or insulins you take (for
						diabetics). If none, please answer 'none'.</p
					>
					<p class="modal__ans"
						>- Metformin, Glipizide, Insulin Aspart (NovoLog), Insulin Lispro
						(Humalog), Insulin Glargine (Lantus).</p
					>
				</div>
				<div class="modal__qa">
					<p class="modal__ques"
						>3. Do you have high blood pressure or heart problems?</p
					>
					<p class="modal__ans">- Yes</p>
				</div>
				<div class="modal__qa">
					<p class="modal__ques"
						>4. List of oral medicines (for high blood pressure). Or answer
						none.</p
					>
					<p class="modal__ans"
						>- Metformin, Glipizide, Insulin Aspart (NovoLog), Insulin Lispro
						(Humalog), Insulin Glargine (Lantus).</p
					>
				</div>
				<div class="modal__qa">
					<p class="modal__ques"
						>5. List of other oral medicines (for these conditions) . Or answer
						none.</p
					>
					<p class="modal__ans"
						>- Metformin, Glipizide, Insulin Aspart (NovoLog), Insulin Lispro
						(Humalog), Insulin Glargine (Lantus).</p
					>
				</div>
				<div class="modal__qa">
					<p class="modal__ques"
						>6. List of any other oral medicines (for other conditions) . Or
						answer none.</p
					>
					<p class="modal__ans"
						>- Metformin, Glipizide, Insulin Aspart (NovoLog), Insulin Lispro
						(Humalog), Insulin Glargine (Lantus).</p
					>
				</div>
				<div class="modal__qa">
					<p class="modal__ques">7. Are you allergic to any medication?</p>
					<p class="modal__ans">- Yes</p>
				</div>
				<div class="modal__qa">
					<p class="modal__ques"
						>8. List any medicines you’re allergic to. Or answer none.</p
					>
					<p class="modal__ans"
						>- Metformin, Glipizide, Insulin Aspart (NovoLog), Insulin Lispro
						(Humalog), Insulin Glargine (Lantus).</p
					>
				</div>
				<div class="modal__qa">
					<p class="modal__ques"
						>9. Have you seen a doctor in the last 12 months?</p
					>
					<p class="modal__ans">- Yes</p>
				</div>
				<div class="modal__qa">
					<p class="modal__ques">10. Are you pregnant or breast feeding?</p>
					<p class="modal__ans">- Yes</p>
				</div>
				<div class="modal__qa">
					<p class="modal__ques">11. Do you experience a lack of energy?</p>
					<p class="modal__ans">- Yes</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Intake Form Modal End-->
