---
import AssesmentFooter from "../components/AssesmentFooter.astro";
import AssesmentHeader from "../components/AssesmentHeader.astro";
import CommonAction from "../components/CommonAction.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="assessment__page-wrapper">
		<div class="container">
			<div class="assessment">
				<!--Assesment Header Start -->
				<AssesmentHeader />
				<!--Assesment Header End -->

				<!-- Assessment question sub title start -->
				<div class="assessment__label mt-40">
					What’s your weight loss goal?
				</div>
				<!-- Assessment question sub title end -->

				<!-- Assessment form start -->
				<div class="assessment__form mt-30">
					<input type="text" class="form-control" />
				</div>
				<!-- Assessment form end -->

				<!-- Assessment buttons start -->
				<CommonAction />
			</div>
		</div>

		<!--Footer Section end-->
		<AssesmentFooter />
	</div>
</Layout>
