---
import AssesmentFooter from "../components/AssesmentFooter.astro";
import AssesmentHeader from "../components/AssesmentHeader.astro";
import CommonAction from "../components/CommonAction.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="assessment__page-wrapper">
		<div class="container">
			<div class="assessment">
				<!--Assesment Header Start -->
				<AssesmentHeader />
				<!--Assesment Header End -->

				<!-- Assessment question sub title start -->
				<div class="assessment__label mt-50"> Your Weight? </div>
				<!-- Assessment question sub title end -->
				<div class="assessment__form mt-30">
					<div class="measurement">
						<div class="measurement-input">
							<input
								type="text"
								class="form-control"
								placeholder="0"
								aria-describedby="basic-addon2"
							/>
							<span class="unit">lb</span>
						</div>
					</div>
				</div>
				<!-- Single Assessment form end -->

				<!-- Assessment buttons start -->
				<CommonAction />
			</div>
		</div>

		<!--Footer Section end-->
		<AssesmentFooter />
	</div>
</Layout>
