---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<main class="page">
		<section class="reset-password py-5">
			<div class="container p-0">
				<div class="row justify-content-center mt-120 mt-sm-150 mx-0">
					<div class="col-11 col-sm-10 col-md-8 col-lg-8">
						<div class="login__header text-center mb-30">
							<div class="col-12 text-center">
								<h1 class="text-primary-grad-1 mb-0">Reset Password</h1>
							</div>
						</div>
					</div>
				</div>

				<form>
					<div class="container">
						<div class="row justify-content-center mx-0">
							<div class="col-11 col-sm-10 col-md-8 col-lg-5 px-md-30 px-0">
								<!-- Container with consistent spacing -->
								<div class="d-flex flex-column gap-24">
									<!-- Email Display -->
									<div class="mb-4">
										<label for="email" class="basic-label">Email Address</label>
										<p class="mb-0 mt-2">John_07@gmail.com</p>
									</div>

									<div class="form-group mb-0">
										<label for="password" class="basic-label"
											>New Password:</label
										>
										<div class="login__password">
											<input
												id="new_password"
												type="password"
												name="new_password"
												placeholder="Password"
												required=""
												class="login__input"
											/>

											<button type="button" class="login__toggle-btn">
												<i class="icon-StateOn"></i>
												<!-- <i class="icon-password-encrypt"></i> -->
											</button>
										</div>
										<p class="basic-error">Password is required</p>
									</div>

									<div class="form-group mb-0">
										<label for="password" class="basic-label"
											>Confirm Password:</label
										>
										<div class="login__password">
											<input
												id="confirm_password"
												type="password"
												name="confirm_password"
												placeholder="Password"
												required=""
												class="login__input"
											/>
											<button type="button" class="login__toggle-btn">
												<i class="icon-StateOff"></i>
												<!-- <i class="icon-password-encrypt"></i> -->
											</button>
										</div>
										<p class="basic-error">Confirm Password is required!</p>
									</div>

									<!-- Submit Button and Links -->
									<div class="d-flex flex-column gap-3">
										<button
											type="submit"
											class="theme-btn theme-btn__primary w-100 btn-lg py-10"
										>
											Change Password
										</button>

										<div class="text-center">
											<p class="mb-2">
												Already have an account?
												<button
													class="text-decoration-underline ms-1 theme-btn theme-btn__accent text-primary"
												>
													Log In
												</button>
											</p>
											<p class="mb-0 mb-60">
												First-time Visitor?
												<button
													class="text-decoration-underline fw-medium ms-1 theme-btn theme-btn__accent text-primary"
												>
													Create an account
												</button>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
