---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<main class="page">
		<section class="reset-password py-5">
			<div class="container p-0">
				<div class="row justify-content-center mt-120 mt-sm-150 mx-0">
					<div class="col-11 col-sm-10 col-md-8 col-lg-8">
						<div class="login__header text-center mb-30">
							<div class="col-12 text-center">
								<h1 class="text-primary-grad-1 mb-0">Reset Password</h1>
							</div>
						</div>
					</div>
				</div>

				<form>
					<div class="container">
						<div class="row justify-content-center mx-0">
							<div class="col-11 col-sm-10 col-md-8 col-lg-5 px-md-30 px-0">
								<!-- Container with consistent spacing -->
								<div class="d-flex flex-column gap-24">
									<!-- Email Display -->
									<div class="mb-4">
										<label for="email" class="basic-label">Email Address</label>
										<p class="mb-0 mt-2">John_07@gmail.com</p>
										<div class="invalid-feedback"
											>Please enter a valid email.</div
										>
									</div>

									<div class="form-group mt-4">
										<label for="password" class="basic-label">Password:</label>
										<div class="login__password">
											<input
												id="password"
												type="password"
												name="Password"
												placeholder="Password"
												required=""
												class="login__input"
											/>
											<button type="button" class="login__toggle-btn">
												<i class="icon-password-decrypt"></i>
												<!-- <i class="icon-password-encrypt"></i> -->
											</button>
										</div>
									</div>

									<div class="form-group mt-4">
										<label for="password" class="basic-label">Password:</label>
										<div class="login__password">
											<input
												id="password"
												type="password"
												name="Password"
												placeholder="Password"
												required=""
												class="login__input"
											/>
											<button type="button" class="login__toggle-btn">
												<i class="icon-password-decrypt"></i>
												<!-- <i class="icon-password-encrypt"></i> -->
											</button>
										</div>
									</div>

									<!-- New Password Field -->
									<div class="form-group mb-4">
										<label for="new_password" class="basic-label"
											>New Password</label
										>

										<div class="login__password">
											<input
												type="password"
												class="basic-input pe-5 w-100"
												id="new_password"
												required
											/>
										</div>

										<button class="icon-StateOn" id="toggleNewPassword"
										></button>
										<div class="invalid-feedback"
											>Password must not be empty.</div
										>
									</div>

									<!-- Confirm Password Field -->
									<div class="position-relative mb-4">
										<label for="confirm_password" class="basic-label"
											>Confirm Password</label
										>
										<input
											type="password"
											class="basic-input pe-5 w-100"
											id="confirm_password"
											required
										/>
										<button
											class="icon-StateOn position-absolute top-60 translate-middle-y"
											style="right: 15px; cursor: pointer;"
											id="toggleConfirmPassword"></button>
										<div class="invalid-feedback">Passwords must match.</div>
									</div>

									<!-- Submit Button and Links -->
									<div class="d-flex flex-column gap-3">
										<button
											type="submit"
											class="theme-btn theme-btn__primary w-100 btn-lg"
										>
											Change Password
										</button>

										<div class="text-center">
											<p class="mb-2">
												Already have an account?
												<a href="#" class="text-decoration-underline ms-1">
													Log In
												</a>
											</p>
											<p class="mb-0">
												First-time Visitor?
												<a
													href="#"
													class="text-decoration-underline fw-medium ms-1"
												>
													Create an account
												</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
