---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<main class="page">
		<section class="reset-password py-5">
			<div class="row justify-content-center mt-150 mt-sm-100 mx-0">
				<div class="max-w-600">
					<div
						class="forgot-password__header text-center mb-60 col-12 col-md-12"
					>
						<h1 class="mb-1 text-primary-grad-1">Reset Password</h1>
					</div>
				</div>
				<form class="reset-form">
					<div class="row justify-content-center mx-0">
						<div
							class="position-relative col-11 col-sm-10 col-md-8 col-lg-6 px-md-30 px-0 max-w-500"
						>
							<label for="email" class="basic-label">Email Address</label>
							<p>John_07@gmail.com</p>
							<div class="invalid-feedback">Please enter a valid email.</div>

							<!-- New Password Field -->

							<label for="new_password" class="basic-label">New Password</label>
							<input
								type="password"
								class="basic-input pe-5"
								id="new_password"
								required
							/>
							<i
								class="icon-StateOn position-absolute translate-middle-y"
								style="right: 40px; top: 125px; padding: 0; margin: 0; cursor: pointer; z-index: 10;"
								id="toggleNewPassword"></i>
							<div class="invalid-feedback">Password must not be empty.</div>

							<!-- Confirm Password Field -->
							<div class="w-full mb-3 position-relative">
								<label for="confirm_password" class="basic-label"
									>Confirm Password</label
								>
								<input
									type="password"
									class="basic-input pe-5"
									id="confirm_password"
									required
								/>
								<i
									class="icon-StateOn position-absolute top-50 translate-middle-y"
									style="right: 15px; cursor: pointer; z-index: 10;"
									id="toggleNewPassword"></i>
								<div class="invalid-feedback">Passwords must match.</div>
							</div>

							<div class="">
								<button
									type="submit"
									class="theme-btn theme-btn__primary w-100 btn-lg mb-4"
								>
									Change Password
								</button>

								<div class="text-center mt-3">
									<span>Already have an account?</span>
									<a href="#" class="text-decoration-underline forgot-text"
										>Log In</a
									>
									<p class="mt-3">
										First-time Visitor?
										<a href="#" class="text-decoration-underline fw-medium"
											>Create an account</a
										>
									</p>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
		<!-- 

		<Footer />
	</main>
</Layout>
--></main
	></Layout
>
