---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<!-- =====|| Main Section Start ||====== -->
	<main class="page">
		<div class="page__wrapper page__wrapper--alt">
			<!-- ==|| Terms & Conditions Hero Section Start ||== -->
			<div class="section-padding pt-120 pb-80">
				<div class="container">
					<h2
						class="site__heading-two-lg text-primary-grad-1 text-center"
						data-aos="fade-up"
						data-aos-duration="1000"
						data-aos-once="true"
					>
						Terms and Conditions
					</h2>

					<div
						class="mt-md-40 mt-20"
						data-aos="fade-up"
						data-aos-duration="1000"
					>
						<h6 class="fs-md-24 fs-18 text-black fw-bold mt-20">
							Important Legal Notice
						</h6>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							By purchasing from PeptideLab, you acknowledge that all products are for research purposes only and agree to comply with all terms outlined below. These terms constitute a legally binding agreement.
						</p>

						<!-- <p class="fs-md-18 fs-16 fw-400 mt-20">
							By clicking “I Agree”, checking a related box, or accessing these
							services (so defined below), you acknowledge that you have read,
							understood, accepted, and agreed to be bound by this agreement. If
							you do not agree to these terms and conditions or do not
							understand these terms and conditions, you are not allowed to use
							and/or access these services and if so. You hereby grant agency
							authority to any party who clicks the “I agree” button or
							otherwise accepts these terms and conditions on your behalf
						</p>

						<p class="fs-md-18 fs-16 fw-400 mt-20">
							Binding Arbitration Notice: You agree that disputes between you
							and us (non-exhaustively: the company and/or our agents,
							contractors employees, officers, shareholders), and/or you and any
							affiliated individuals or groups (non-exhaustively: medical
							providers, nursing providers, and/or any other affiliated
							third-party), arising out of or in relation to these terms and
							conditions and/or the service will be resolved by binding,
							individual arbitration and you waive your rights to a jury trial
							and/or to participate in a class-action lawsuit or class-wide
							arbitration, so explained below.
						</p>

						<p class="fs-md-18 fs-16 fw-400 mt-20">
							This agreement is subject to changes as explained below.
						</p>

						<p class="fs-md-18 fs-16 fw-400 mt-20">
							We may change these terms at any time and as required by law. This
							may include changing, adding, or removing terms. We may do this in
							response to legal, business, competitive environment or other
							reasons not listed here.
						</p>

						<p class="fs-md-18 fs-16 fw-400 mt-20">
							&nbsp;<span
								>VPEPTIDES Weight Loss Wellness &amp; Recovery (“we” or “us”) at
								www.vpeptides.com &amp; www.vpeptides-wellness.com</span
							>&nbsp;<span> owns and operates websites located</span>
							(collectively, the “Platform”). Your access and/or use of the Platform,
							or anything associated with it (non-exhaustively: any products, services,
							websites, software applications, mobile applications, content generated
							by Us and/or any affiliated third-party, the “Service”) are governed
							by these Terms and Conditions (the “Terms and Conditions” or the “Agreement”)
						</p>

						<p class="fs-md-18 fs-16 fw-400 mt-20">
							Please read this Agreement carefully as it establishes the
							important terms you need to know about the Services you are
							agreeing to. In this agreement, the use of the terms, “you”,
							“yours”, and such similar phrasing refer to the person or entity
							using the Service.
						</p> -->
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>1. Acceptance of Terms</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							By accessing or using PeptideLab's website and purchasing our products, you agree to be bound by these Terms and Conditions. If you do not agree with any part of these terms, you must not use our website or purchase our products.
						</p>

						<p class="fs-md-18 fs-16 fw-400 mt-20">
							These terms constitute a legally binding agreement between you and PeptideLab. We reserve the right to modify these terms at any time, and such modifications shall be effective immediately upon posting on our website.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold">2. Research Use Only</h6>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							ALL PRODUCTS ARE SOLD STRICTLY FOR LABORATORY AND RESEARCH PURPOSES ONLY.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>Your Relationship with Us</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							As part of the Service we make available certain products and
							services sold and/or offered by us and by third-party providers
							(medical and/or nursing care), pharmacies, diagnostics
							laboratories, and other vendors via our Service.
						</p>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							We provide prescription fulfillment services via 3rd Party
							Independent Pharmacies (the “Pharmacies”) and laboratory services
							via Quest Diagnostics and/or LabCorp (the “Labs”). We may also
							provide you with access to a network of independent third-party
							providers and/or medical groups (the “Providers”). These providers
							offer certain independent medical and/or nursing services. By
							accepting these Terms and Conditions, you acknowledge and agree
							that any services or products received from the aforementioned
							individuals and/or groups are also bound by this Agreement and
							that they are third-party beneficiaries of this Agreement.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>No Medical–Relationship</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							&nbsp;<span>VPEPTIDES Weight Loss , Wellness &amp; Recovery</span>
							has no control or interference with the practice of product, nursing,
							or any other such care by any providers. All providers are individually
							and solely responsible for managing the medical care and/or any treatments
							they provide to you. By accepting this Agreement, you understand and
							agree that &nbsp;<span
								>VPEPTIDES Weight Loss , Wellness &amp; Recovery</span
							>
							is not acting as a healthcare provider and that you are not entering
							into a patient–provider relationship with us. By accepting this Agreement,
							you understand and agree that you may be entering into a patient–provider
							relationship or other such relationship with any one or more Providers.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>No Pharmacy–Relationship</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							By accepting this Agreement, you understand and agree that &nbsp;<span
								>VPEPTIDES Weight Loss , Wellness &amp; Recovery</span
							>
							is not acting as a pharmacy, nor do we control or interfere with any
							such services. By accepting this Agreement, you understand and agree
							that you may be entering into a relationship with a pharmacy, pharmacist,
							and/or pharmacy group or other such relationship with any one or more
							such third-party entities and authorize the aforementioned to access
							your prescription records through a Controlled Substances Prescription
							Management Program (CSPMP) or any other such program as is required
							by law and/or under the discretion of the Pharmacy.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>Consent to the Use of Messaging</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							By accepting this Agreement, you understand and agree that &nbsp;<span
								>VPEPTIDES Weight Loss , Wellness &amp; Recovery</span
							>, along with third-party Providers and Pharmacies may receive
							messages regarding your treatment, and respond to you via email,
							text messages (SMS/MMS), phone calls, and voicemails
							(collectively, “Communications”). You acknowledge and accept that
							&nbsp;<span
								data-bind="text: (referralShortCode && referralShortCode() && referralShortCode().trim() !== '') ? 'BIO ACCESS LABS' : 'VPEPTIDES Weight Loss , Wellness & Recovery '"
								>VPEPTIDES Weight Loss , Wellness &amp; Recovery
							</span>
							and it’s affiliates are not responsible for the contents or security
							of any of those means of communications. These communications may contain
							important information about your health and treatment. You acknowledge
							that the receipt and reading of any such messages is solely your responsibility
							and that you agree to hold–harmless &nbsp;<span
								data-bind="text: (referralShortCode && referralShortCode() && referralShortCode().trim() !== '') ? 'BIO ACCESS LABS' : 'VPEPTIDES Weight Loss , Wellness & Recovery '"
								>VPEPTIDES Weight Loss , Wellness &amp; Recovery
							</span>
							and any of it’s employees, officers, or affiliated entities (providers,
							pharmacies, etc.) regarding the receipt and contents of such communications.
							You also accept that some or all of the Communications may be unrelated
							to your treatment, such as promotional and advertising Communications.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>Consent to Pay for Services</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							&nbsp;<span
								>VPEPTIDES Weight Loss , Wellness &amp; Recovery
							</span>
							and/or its subsidiaries are not currently enrolled with, accepting,
							or participating in any state, local, or federal healthcare and/or health
							insurance programs (non–exhaustively: Medicare, Medicaid, etcetera).
							You acknowledge and accept that &nbsp;<span
								>VPEPTIDES Weight Loss , Wellness &amp; Recovery</span
							>, the Providers, the Pharmacies, and yourself may not receive
							payment from any such programs for any of the services or products
							provided by &nbsp;<span
								>VPEPTIDES Weight Loss , Wellness &amp; Recovery</span
							>, or any affiliated entities. By engaging with &nbsp;<span
								>VPEPTIDES Weight Loss Wellness &amp; Recovery</span
							>, and using the Services, you are choosing to obtain service
							solely on a cash-basis. As such, you have sole financial
							responsibility for paying the costs associated with the Services.
						</p>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							By clicking “I Agree”, checking a related box, or accessing these
							services you agree that you are exclusively choosing to access
							these services on a cash-basis and are solely responsibility for
							any costs incurred, and that neither you, nor &nbsp;<span
								>VPEPTIDES Weight Loss , Wellness &amp; Recovery</span
							>, the Providers, the Labs, nor the Pharmacies will submit any
							claims for reimbursement to any state, local, or federal
							healthcare and/or health insurance programs (non-exhaustively:
							Medicare, Medicaid, etcetera).
						</p>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							&nbsp;<span>VPEPTIDES Weight Loss , Wellness &amp; Recovery</span>
							does not provide Superbills or other medically coded invoices for services.
							Regular invoices are provided upon request.
						</p>
					</div>

					<!-- <div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>Prescription Only Products</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							Some of the Products and Services offered via the Platform require
							a valid prescription. Payment does not guarantee the writing or
							dispensing of any prescription products. You will not be
							offered a prescription unless you have completed a medical intake
							form, have established a patient–provider relationship with a
							Provider, have completed a medical consultation with said
							Provider, and have an established medical need for said
							prescription (as determined in the Provider’s professional
							judgment). If you choose to have an affiliated Pharmacy fulfill
							that Product, the charges associated with said Product will be
							bundled into the Charges.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>Risks and Disclosures</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							You agree that you have read, understood the information provided
							about any prescribed products available from the FDA, or on
							&nbsp;<a
								class="text-primary"
								data-bind="attr: { href: (referralShortCode && referralShortCode() && referralShortCode().trim() !== '') ? 'https://www.bioaccesslabs.com' : 'https://www.zepetides.com' },
                                          text: (referralShortCode && referralShortCode() && referralShortCode().trim() !== '') ? 'www.bioaccesslabs.com' : 'www.zepetides.com'"
								target="_blank"
								href="https://www.zepetides.com">www.zepetides.com</a
							>. Your use of any prescription product, reliance on any
							provider, or reliance on any treatment or health decision
							delivered by the Providers via the Platform, is solely and
							exclusively at your own risk and you assume full responsibility
							for all risks associated herewith.
						</p>
					</div> -->

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>Mediation and Binding Arbitration</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							If a dispute arises from or relates to this contract or the breach
							thereof, and if the dispute cannot be settled through direct
							discussions, the parties agree to endeavor first to settle the
							dispute by mediation administered by the American Arbitration
							Association under its Healthcare Payor Provider Mediation
							Procedures before resorting to arbitration. The parties further
							agree that any unresolved controversy or claim arising out of or
							relating to this contract, or breach thereof, shall be settled by
							arbitration administered by the American Arbitration Association
							in accordance with its Healthcare Payor Provider Arbitration Rules
							and judgment on the award rendered by the arbitrator(s) may be
							entered in any court having jurisdiction thereof.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold">Indemnification </h6>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							If a dispute arises from or relates to this contract or the breach
							thereof, and if the dispute cannot be settled through direct
							discussions, the parties agree to endeavor first to settle the
							dispute by mediation administered by the American Arbitration
							Association under its Healthcare Payor Provider Mediation
							Procedures before resorting to arbitration. The parties further
							agree that any unresolved controversy or claim arising out of or
							relating to this contract, or breach thereof, shall be settled by
							arbitration administered by the American Arbitration Association
							in accordance with its Healthcare Payor Provider Arbitration Rules
							and judgment on the award rendered by the arbitrator(s) may be
							entered in any court having jurisdiction thereof.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>Class-Action Waiver
						</h6>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							You hereby waive, with respect to any dispute, the right to
							participate in a class action, private attorney general action, or
							other representative action in court or group-arbitration either
							as a class representative or class member, and hereby waive the
							right to join or consolidate claims with the claims of any other
							person or group; as allowed by law.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>Severability of Terms
						</h6>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							If a provision of this Agreement is or becomes illegal,
							unenforceable, or invalid in any jurisdiction, it shall not affect
							the enforceability or validity in that jurisdiction of any other
							provision of this Agreement, and/or the enforceability or validity
							in other jurisdictions of that or any other provision of this
							Agreement.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold"
							>Assignment of Rights</h6
						>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							This agreement is solely between you and &nbsp;<span
								>VPEPTIDES Weight Loss Wellness &amp; Recovery</span
							>, . No portion of your rights or agreed upon terms may be
							assigned to anyone else and any attempt to do so is null and void.
							&nbsp;<span>VPEPTIDES Weight Loss Wellness &amp; Recovery</span>,
							may, at any time and in our sole discretion, assign, transfer, or
							other such action, without your additional consent or notice, this
							entire Agreement or any part of this Agreement, to any third-party
							of our choice.
						</p>
					</div>

					<div class="mt-md-40 mt-20">
						<h6 class="fs-md-24 fs-18 text-black fw-bold">Choice of Law</h6>
						<p class="fs-md-18 fs-16 fw-400 mt-20">
							THIS AGREEMENT SHALL BE GOVERNED BY THE LAWS OF THE STATE OF
							TEXAS, WITHOUT GIVING EFFECT TO ANY PRINCIPLES REGARDING CONFLICT
							OF LAWS
						</p>
					</div>
				</div>
			</div>
			<!-- ==|| Terms & Conditions Hero Section End ||== -->
		</div>
	</main>
	<!-- =====|| Main Section Start ||====== -->

	<Footer />
</Layout>
