---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<main class="page">
		<section class="thank-you">
			<div class="container">
				<div class="">
					<h1 class="hero__title text-center text-purple"
						>Thank <span class="text-primary-grad-1">You!</span></h1
					>
					<p class="text-center mt-30 text-gray-700"
						>Alright, let's get you set up! We've just sent you an email with a
						link to a quick health questionnaire. It's your order's official
						starting line - so please give it a click and fill 'er out! Just a
						heads-up: A licensed prescriber will be giving your answers a
						thorough once-over before sending any prescriptions to the pharmacy.
						They might even give you a ring for a quick chat if needed. So,
						complete that questionnaire, and if the email's playing shy, check
						your spam/junk folder!
					</p>

					<div class="highlight__text highlight__text--lime">
						<p class="text-gray-700"
							>Your order includes medication(s) that require a lab report to
							ensure safe and effective prescribing. We have sent you an email
							containing detailed information on how to complete the required
							lab test. Kindly check your email (and your spam/junk folder, if
							necessary) for these instructions. Please understand that the
							prescriber is unable to conduct the consultation and issue a
							prescription for the specified medication(s) without first
							evaluating the results of the blood work. We appreciate your
							prompt attention to this matter.
						</p>
					</div>
					<p class="text-purple-disclaimer text-center"
						>*Please note that by completing your purchase, you consent to
						receive email and text message communications from **Rizzp**
						**Pharma** and its subsidiaries regarding your order, account
						updates, and promotional offers.
					</p>

					<div class="row">
						<div class="col-md-6">
							<div class="card-basic h-80">
								<div class="card-basic__header">
									<p class="card-basic__title">Customer Information</p>
								</div>

								<div class="card-basic__body">
									<div class="document-info">
										<div class="document-info__item_tu">
											<p class="document-info__label__tu">Name:</p>
											<p>Iris Cruz</p>
										</div>
										<div class="document-info__item_tu">
											<p class="document-info__label__tu">Transaction ID: </p>
											<p>#RP20250400004</p>
										</div>
										<div class="document-info__item_tu">
											<p class="document-info__label__tu">Shipping Address:</p>
											<p>911 E McDonald Dr, Pilot Point, TX</p>
										</div>
										<div class="document-info__item_tu">
											<p class="document-info__label__tu">Shipping State:</p>
											<p>Texas</p>
										</div>
										<div class="document-info__item_tu">
											<p class="document-info__label__tu">Shipping City:</p>
											<p>Pilot Point</p>
										</div>
										<div class="document-info__item_tu">
											<p class="document-info__label__tu">Shipping Zipcode:</p>
											<p>76258</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="card-basic mb-30">
								<div class="card-basic__header">
									<p class="card-basic__title">Product Details</p>
								</div>

								<div class="card-basic__body">
									<div class="product-section">
										<div class="cart__item__tu">
											<div class="cart__product">
												<div class="cart__thumbnail">
													<img
														src="/Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-2.png"
														alt="Tirzepatide Injection"
													/>
												</div>

												<div class="cart__details">
													<p class="cart__item__tu-name"
														>Tirzepatide Injection</p
													>
													<div class="document-info__item_tu">
														<p class="document-info__label__tu">Quantity:</p>
														<p>2</p>
													</div>
													<div class="document-info__item_tu">
														<p class="document-info__label__tu">Order Value</p>
														<p>$300</p>
													</div>
												</div>
											</div>
										</div>
										<div class="cart__item__tu">
											<div class="cart__product">
												<div class="cart__thumbnail">
													<img
														src="/Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
														alt="Semaglutide Oral Tablet"
													/>
												</div>

												<div class="cart__details">
													<p class="cart__item__tu-name"
														>Semaglutide Oral Tablet</p
													>
													<div class="document-info__item_tu">
														<p class="document-info__label__tu">Quantity:</p>
														<p>2</p>
													</div>
													<div class="document-info__item_tu">
														<p class="document-info__label__tu">Order Value</p>
														<p>$300</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-basic">
								<div class="card-basic__header">
									<p class="card-basic__title">Order Summary</p>
								</div>

								<div class="card-basic__body">
									<div class="document-info">
										<div class="document-info__item_tu">
											<p class="document-info__label__tu"
												>Total Product Price:</p
											>
											<p>$567</p>
										</div>
										<div class="document-info__item_tu">
											<p class="document-info__label__tu">Total Amount:</p>
											<p>$567</p>
										</div>
										<div class="document-info__item_tu">
											<p class="document-info__label__tu">Currency:</p>
											<p>USD</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="thank-you__actions">
						<button
							type="button"
							class="theme-btn theme-btn__outline theme-btn__outline--primary"
						>
							View My Orders
						</button>
						<button type="button" class="theme-btn theme-btn__primary fw-400">
							Continue Shopping
						</button>
					</div>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>
