---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Header />

	<main class="page">
		<section class="thank-you">
			<div class="container">
				<div class="">
					<h1 class="hero__title text-center text-purple"
						>Thank <span class="text-primary-grad-1">You!</span></h1
					>
					<p class="text-center mt-30 text-gray-700"
						>Alright, let's get you set up! We've just sent you an email with a
						link to a quick health questionnaire. It's your order's official
						starting line - so please give it a click and fill 'er out! Just a
						heads-up: A licensed prescriber will be giving your answers a
						thorough once-over before sending any prescriptions to the pharmacy.
						They might even give you a ring for a quick chat if needed. So,
						complete that questionnaire, and if the email's playing shy, check
						your spam/junk folder!
					</p>

					<div class="highlight__text">
						<p
							>Your order includes medication(s) that require a lab report to
							ensure safe and effective prescribing. We have sent you an email
							containing detailed information on how to complete the required
							lab test. Kindly check your email (and your spam/junk folder, if
							necessary) for these instructions. Please understand that the
							prescriber is unable to conduct the consultation and issue a
							prescription for the specified medication(s) without first
							evaluating the results of the blood work. We appreciate your
							prompt attention to this matter.
						</p>
					</div>
					<p class="text-primary text-center fw-bold"
						>*Please note that by completing your purchase, you consent to
						receive email and text message communications from ZePeptides and
						its subsidiaries regarding your order, account updates, and
						promotional offers.
					</p>

					<div class="row mt-md-60 mt-30">
						<div class="col-lg-6">
							<div class="card-basic h-80">
								<div class="card-basic__header">
									<p class="card-basic__title">Customer Information</p>
								</div>

								<div class="card-basic__body">
									<div class="document-info">
										<div class="document-info__item">
											<p class="document-info__label">Name:</p>
											<p>Iris Cruz</p>
										</div>
										<div class="document-info__item">
											<p class="document-info__label">Transaction ID: </p>
											<p>#RP20250400004</p>
										</div>
										<div class="document-info__item">
											<p class="document-info__label">Shipping Address:</p>
											<p>911 E McDonald Dr, Pilot Point, TX</p>
										</div>
										<div class="document-info__item">
											<p class="document-info__label">Shipping State:</p>
											<p>Texas</p>
										</div>
										<div class="document-info__item">
											<p class="document-info__label">Shipping City:</p>
											<p>Pilot Point</p>
										</div>
										<div class="document-info__item">
											<p class="document-info__label">Shipping Zipcode:</p>
											<p>76258</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="card-basic">
								<div class="card-basic__header">
									<p class="card-basic__title">Product Details</p>
								</div>

								<div class="cart__items cart__items--alt">
									<div class="cart__item cart__item--alt">
										<div class="cart__product">
											<div class="cart__thumbnail cart__thumbnail--purple">
												<img
													src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
													alt="Product Image"
												/>
											</div>

											<div class="cart__details">
												<p class="cart__item-name">Finasteride 1mg Tablet</p>
												<div class="document-info__item mt-md-20 mt-0">
													<p class="document-info__label">Quantity:</p>
													<p>2</p>
												</div>
												<div class="document-info__item mt-md-20 mt-0">
													<p class="document-info__label">Order Value:</p>
													<p>$<span>300</span></p>
												</div>
											</div>
										</div>
									</div>
									<div class="cart__item cart__item--alt">
										<div class="cart__product">
											<div class="cart__thumbnail cart__thumbnail--purple">
												<img
													src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
													alt="Product Image"
												/>
											</div>

											<div class="cart__details">
												<p class="cart__item-name">Finasteride 1mg Tablet</p>
												<div class="document-info__item mt-md-20 mt-0">
													<p class="document-info__label">Quantity:</p>
													<p>2</p>
												</div>
												<div class="document-info__item mt-md-20 mt-0">
													<p class="document-info__label">Order Value:</p>
													<p>$<span>300</span></p>
												</div>
											</div>
										</div>
									</div>
									<div class="cart__item cart__item--alt">
										<div class="cart__product">
											<div class="cart__thumbnail cart__thumbnail--purple">
												<img
													src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
													alt="Product Image"
												/>
											</div>

											<div class="cart__details">
												<p class="cart__item-name">Finasteride 1mg Tablet</p>
												<div class="document-info__item mt-md-20 mt-0">
													<p class="document-info__label">Quantity:</p>
													<p>2</p>
												</div>
												<div class="document-info__item mt-md-20 mt-0">
													<p class="document-info__label">Order Value:</p>
													<p>$<span>300</span></p>
												</div>
											</div>
										</div>
									</div>
									<div class="cart__item cart__item--alt">
										<div class="cart__product">
											<div class="cart__thumbnail cart__thumbnail--purple">
												<img
													src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
													alt="Product Image"
												/>
											</div>

											<div class="cart__details">
												<p class="cart__item-name">Finasteride 1mg Tablet</p>
												<div class="document-info__item mt-md-20 mt-0">
													<p class="document-info__label">Quantity:</p>
													<p>2</p>
												</div>
												<div class="document-info__item mt-md-20 mt-0">
													<p class="document-info__label">Order Value:</p>
													<p>$<span>300</span></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-basic mt-20">
								<div class="card-basic__header">
									<p class="card-basic__title">Order Summary</p>
								</div>

								<div class="card-basic__body">
									<div class="document-info">
										<div class="document-info__item">
											<p class="document-info__label">Total Product Price:</p>
											<p>$567</p>
										</div>
										<div class="document-info__item">
											<p class="document-info__label">Total Amount:</p>
											<p>$567</p>
										</div>
										<div class="document-info__item">
											<p class="document-info__label">Currency:</p>
											<p>Pilot Point</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="thank-you__actions d-md-flex d-none">
						<a
							href="/my-order"
							class="theme-btn theme-btn__outline theme-btn__outline--primary"
						>
							View My Orders
						</a>
						<button type="button" class="theme-btn theme-btn__primary fw-400">
							Continue Shopping
						</button>
					</div>
				</div>
			</div>
		</section>
		<div class="floating__buttons d-md-none d-block">
			<div class="floating__buttons__items">
				<button
					class="theme-btn theme-btn__accent fw-medium text-primary"
					data-bind="click:goToHome"
				>
					Continue Shopping
				</button>
				<button
					class="theme-btn theme-btn__primary text-center"
					data-bind="click:loadPartialShippingView"
				>
					Proceed to Checkout
				</button>
			</div>
		</div>
	</main>
	<Footer />
</Layout>
