---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />

  <main class="page">
    <section class="thank-you">
      <div class="container">
        <div class="">
          <h1
            class="hero__title text-center text-primary-grad-1"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="300"
          >
            Thank you for<span class="text-primary-grad-1">
              <br />your order!</span
            >
          </h1>
          <p
            class="text-center mt-30 text-gray-700"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
          >
            Your order has been successfully placed and is now being processed
            by our fulfillment center.
          </p>
          <div
            class="text-center mt-16 text-gray-700 lh-lg"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
          >
            <p>What happens next?</p>
            <p class="text-center fw-bold">
              Your order is sent directly to our fulfillment center
            </p>
            <p class="text-center fw-bold">
              The fulfillment team will prepare and package your products
            </p>
            <p class="text-center fw-bold">
              Once shipped, you’ll receive a shipping confirmation email with
              tracking details
            </p>
            <p class="text-center">
              No additional action is required from you at this time.
            </p>
          </div>

          <div
            class="highlight__text lh-lg"
            data-aos="zoom-out"
            data-aos-duration="1000"
            data-aos-delay="600"
          >
            <p class="fs-20">Important Notes</p>
            <p class="fw-bold">These products are non-prescription items</p>
            <p class="fw-bold">
              No doctor consultation or medical review is required
            </p>
            <p class="fw-bold">
              Please ensure your shipping address and contact details are
              correct to avoid delays
            </p>
            <p>
              If you have any questions or need assistance, feel free to contact
              our support team. We’re here to help.
            </p>
            <p>Thank you for choosing V-Peptides.</p>
          </div>

          <div
            class="row mt-md-60 mt-30"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="900"
          >
            <div class="col-lg-12 mt-20">
              <div class="card-basic h-80">
                <div class="card-basic__header">
                  <p class="card-basic__title">Customer Information</p>
                </div>

                <div class="card-basic__body">
                  <div class="medicine-info">
                    <div class="medicine-info__item">
                      <p class="medicine-info__label">Name:</p>
                      <p class="medicine-info__text">Iris Cruz</p>
                    </div>
                    <div class="medicine-info__item">
                      <p class="medicine-info__label">Transaction ID:</p>
                      <p class="medicine-info__text">#RP20250400004</p>
                    </div>
                    <div class="medicine-info__item">
                      <p class="medicine-info__label">Shipping Address:</p>
                      <p class="medicine-info__text">
                        911 E McDonald Dr, Pilot Point, TX
                      </p>
                    </div>
                    <div class="medicine-info__item">
                      <p class="medicine-info__label">Shipping State:</p>
                      <p class="medicine-info__text">Texas</p>
                    </div>
                    <div class="medicine-info__item">
                      <p class="medicine-info__label">Shipping City:</p>
                      <p class="medicine-info__text">Pilot Point</p>
                    </div>
                    <div class="medicine-info__item">
                      <p class="medicine-info__label">Shipping Zipcode:</p>
                      <p class="medicine-info__text">76258</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-lg-12 mt-20"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="300"
            >
              <div class="card-basic">
                <div class="card-basic__header">
                  <p class="card-basic__title">Product Details</p>
                </div>

                <div class="cart__item cart__item--alt">
                  <div class="cart__product">
                    <div class="cart__thumbnail cart__thumbnail--purple mt-20">
                      <img
                        src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
                        alt="Product Image"
                      />
                    </div>
                    <div class="medicine-info w-100 py-0">
                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Name:</p>
                        <p class="medicine-info__text">
                          Finasteride 1mg Tablet
                        </p>
                      </div>

                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Quantity:</p>
                        <p class="medicine-info__text">3</p>
                      </div>
                      <div class="medicine-info__item"></div>
                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Order Value:</p>
                        <p class="medicine-info__text">$<span>300</span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="cart__item cart__item--alt">
                  <div class="cart__product">
                    <div class="cart__thumbnail cart__thumbnail--purple mt-20">
                      <img
                        src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
                        alt="Product Image"
                      />
                    </div>
                    <div class="medicine-info py-0 w-100">
                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Name:</p>
                        <p class="medicine-info__text">
                          Finasteride 1mg Tablet
                        </p>
                      </div>

                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Quantity:</p>
                        <p class="medicine-info__text">3</p>
                      </div>
                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Order Value:</p>
                        <p class="medicine-info__text">$<span>300</span></p>
                      </div>
                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Order Value:</p>
                        <p class="medicine-info__text">$<span>300</span></p>
                      </div>
                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Order Value:</p>
                        <p class="medicine-info__text">$<span>300</span></p>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="cart__item cart__item--alt">
                  <div class="cart__product">
                    <div class="cart__thumbnail cart__thumbnail--purple mt-20">
                      <img
                        src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-2.png"
                        alt="Product Image"
                      />
                    </div>
                    <div class="medicine-info py-0 w-100">
                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Name:</p>
                        <p class="medicine-info__text">
                          Finasteride 1mg Tablet
                        </p>
                      </div>

                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Quantity:</p>
                        <p class="medicine-info__text">3</p>
                      </div>

                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Purchase Type:</p>
                        <p class="medicine-info__text">
                          <span class="status-pill status-pill--default"
                            >Subscribe & Save</span
                          >
                        </p>
                      </div>

                      <div class="medicine-info__item">
                        <p class="medicine-info__label">Order Value:</p>
                        <p class="medicine-info__text">
                          <span class="text-decoration-line-through">$300</span>
                          <span>$280</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Order Summary -->
              <div class="col-md-12 mt-20">
                <div class="card-basic h-100">
                  <div class="card-basic__header">
                    <p class="card-basic__title">Order Summary</p>
                  </div>

                  <div class="card-basic__body">
                    <div class="medicine-info medicine-info--3 px-15 w-100">
                      <div class="medicine-info__item d-flex flex-column w-100">
                        <p class="medicine-info__label text-primary">
                          Discount:
                        </p>
                        <p
                          class="medicine-info__text text-primary mt-md-3 mt-1"
                        >
                          -$7.00
                        </p>
                      </div>

                      <div class="medicine-info__item d-flex flex-column w-100">
                        <p class="medicine-info__label">Shipping:</p>
                        <p class="medicine-info__text mt-md-3 mt-1">$20.00</p>
                      </div>

                      <div class="medicine-info__item d-flex flex-column w-100">
                        <p class="medicine-info__label">Total Product Price:</p>
                        <p class="medicine-info__text mt-md-3 mt-1">$567</p>
                      </div>
                    </div>
                  </div>

                  <div class="card-basic__footer">
                    <p class="fs-md-22 fs-20 fw-bold">Total:</p>
                    <p class="fs-md-22 fs-20 fw-bold">$83.00</p>
                  </div>
                </div>
              </div>
              <!-- <div class="card-basic mt-20">
                <div class="card-basic__header">
                  <p class="card-basic__title">Order Summary</p>
                </div>

                <div class="card-basic__body">
                  <div class="document-info">
                    <div class="document-info__item">
                      <p class="document-info__label">Total Product Price:</p>
                      <p>$567</p>
                    </div>
                    <div class="document-info__item">
                      <p class="document-info__label">Total Amount:</p>
                      <p>$567</p>
                    </div>
                    <div class="document-info__item">
                      <p class="document-info__label">Currency:</p>
                      <p>Pilot Point</p>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>

          <div
            class="thank-you__actions d-md-flex d-none"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
          >
            <a
              href="/my-order"
              class="theme-btn theme-btn__outline theme-btn__outline--primary"
            >
              View My Orders
            </a>
            <button type="button" class="theme-btn theme-btn__primary fw-400">
              Continue Shopping
            </button>
          </div>
        </div>
      </div>
    </section>
    <div class="floating__buttons d-md-none d-flex">
      <div class="floating__buttons__items">
        <a
          href="/my-order"
          class="theme-btn theme-btn__outline theme-btn__outline--primary text-center"
        >
          View My Orders
        </a>
        <a href="/" class="theme-btn theme-btn__primary fw-400 text-center">
          Continue Shopping
        </a>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
