@use "../base/variables" as *;

// .radio-pill {
// 	&:last-of-type {
// 		margin-bottom: 0;
// 	}

// 	&__label {
// 		color: $secondary;
// 		font-size: $fs-18;
// 		line-height: 18;
// 		font-weight: 400;
// 		background-color: transparent;
// 		border: 1px solid $secondary;
// 		border-radius: 50px;
// 		padding: 6px 10px;
// 		margin-bottom: 0;
// 		text-align: center;
// 		cursor: pointer;
// 		position: relative;
// 		transition: all 0.3s ease;
// 	}

// 	&__input {
// 		position: absolute;
// 		appearance: none;
// 	}

// 	&__input:checked + &__label {
// 		background-color: $secondary;
// 		color: white;
// 	}
// }

.radio-pill {
	margin-bottom: 0;
	position: relative;
	width: 100%;

	&__label {
		padding: 16px 12px;
		color: $primary;
		font-size: $fs-16;
		line-height: 1;
		font-weight: 600;
		text-wrap: nowrap;
		background-color: transparent;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 10px;
		background-color: $blue-2;
		box-shadow: 0 0 2px rgba($blue-2, 0.1);
		border-radius: 16px;
		transition: all 0.3s ease;
		text-align: center;
	}

	&__input {
		position: absolute;
		appearance: none;
		display: none;
	}

	&__input:checked + &__label {
		background-color: $blue-1;
		color: $blue-2;
		font-weight: 400;
	}
}

//Input design
.single-input {
	margin-bottom: 20px;

	&__label {
		font-size: $fs-24;
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__field {
		width: 100%;
		height: 60px;
		padding: 10px 24px;
		font-size: 18px;
		color: $light;
		border: 1px solid #AEAEAE;
		border-radius: 10px;
		outline: 0;
		box-shadow: none;
		background-color: transparent;

		&::placeholder {
			font-size: $fs-18;
			color: $gray;
		}

		&--message {
			height: auto;
			border-radius: 10px;
		}
	}
}

.basic-input {
	background-color: transparent;
	width: 100%;
	height: 56px;
	padding: 20px;
	border: 1px solid $red;
	border-radius: 10px;
	outline: 0;
	box-shadow: none;
	font-size: 18px;
}

.basic-label {
	font-size: $fs-18;
	font-weight: 700;
	color: $secondary;
	margin-bottom: 10px;
	display: block;

	.icon-ellipse {
		background: $primary;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 8px;
		margin-left: 5px;
	}
}

.basic-error {
	font-size: $fs-16;
	color: $red;
	font-weight: 300;
	margin-top: 4px;
	line-height: 1.6;
}

.rounded-input {
	width: 445px;
	margin: 20px 0;
	display: flex;
	align-items: center;
	gap: 24px;

	label {
		font-size: $fs-20;
	}

	input {
		height: 48px;
		padding: 15px 20px;
		width: 100%;
		border: 1px solid rgba(white, 0.5);
		box-shadow: none;
		outline: 0;
		background-color: transparent;
		border-radius: 50px;
		font-size: $fs-18;

		&::placeholder {
			font-size: 18px;
			color: rgba(white, 0.5);
		}
	}
}

.form {
	&-control {
		color: white;

		&::placeholder {
			color: rgba(white, 0.6);
		}
	}
}

.rizz-search {
	width: 612px;
	max-width: 100%;
	margin: 0 auto;
	height: 75px;
	position: relative;
	border: 1px solid #ffffff;
	border-radius: 12px;
	background: rgba(67, 67, 67, 0.16);
	backdrop-filter: blur(204px);

	&__input {
		display: block;
		border: 0;
		outline: 0;
		width: 100%;
		height: 100%;
		border-radius: 100px;
		background-color: transparent;
		color: #ffffff;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: 1.5px;
		padding: 25px;
		padding-left: 83px;
	}

	&__icon {
		position: absolute;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 25px;
		height: 25px;
		left: 40px;
		top: 25px;

		i {
			font-size: $fs-24;
		}
	}
}

@media only screen and (max-width: 992px) {
	.single-input {
		margin-bottom: 10px;

		&__label {
			margin-bottom: 5px;
		}

		&__field {
			height: 45px;
			padding: 7px 10px;
			font-size: 16px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.basic-input {
		height: 45px;
	}

	//Input design
	.single-input {
		&__label {
			margin-bottom: 10px;
		}

		&__field {
			width: 100%;
			font-size: $fs-14;
			color: $light;
			border: 1px solid $light;
			border-radius: 8px;
			outline: 0;
			box-shadow: none;

			&::placeholder {
				color: $light;
			}

			&--message {
				height: auto;
			}
		}
	}

	.rizz-search {
		height: 60px;

		&__input {
			font-size: 16px;
			letter-spacing: 1px;
			padding: 15px;
			padding-left: 60px;
		}

		&__icon {
			left: 20px;
			top: 17px;

			i {
				font-size: 16px;
			}
		}
	}
}
