@use "../base/variables" as *;

.product__card__container>* {
	animation: scaleInSmooth 1.4s ease-out forwards;
	opacity: 0;

	// Apply delays to each card
	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			animation-delay: ($anim-delay-discover - 0.4s) + ($i * 0.3s);
		}


	}
}

.product {
	&__card {
		width: 100%;
		padding: 20px 20px 0px 20px;
		border-radius: 20px;
		border: 1px solid $primary-light;
		box-shadow: 0px 0px 30px 0px #27005d14;

	}

	&__img {
		width: 100%;
		height: 197px;
		border-radius: 10px;
		background: linear-gradient(90deg, #d2b3ff 0%, #ede0ff 100%);
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: 100%;
			max-width: 100%;
		}
	}

	&__meta {
		margin-top: 12px;
		padding-bottom: 16px;
		display: flex;
		justify-content: space-between;
		align-items: end;

		&--price {
			margin-bottom: -6px;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		border-top: 1px solid #e6d4ff;
		margin: 0 -20px;
		padding: 12px 20px;
		gap: 8px;

		button {
			width: 50%;
		}
	}
}

@media only screen and (max-width: 992px) {
	.product {
		&__card {
			padding: 12px 12px 0px 12px;
		}

		&__meta {
			margin-top: 16px;
		}

		&__actions {
			margin: 0 -12px;
			padding: 12px;
		}
	}
}