@use "../base/variables" as *;

.switch {
  &-tabs {
    background-color: $primary-light;
    border-radius: 24px;
    display: inline-flex;
  }

  &-tab {
    &__btn {
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: 13px;
      font-weight: 600;
      color: $dark;
      border-radius: 24px !important;

      &:hover {
        color: $dark;
      }

      &.active {
        background-color: #5607C5 !important;
        color: $white !important;
        font-weight: 600 !important;
      }
    }
  }
}