<div>
	<!-- Progress bar start -->
	<div class="assessment__progress-bar mt-40">
		<div class="assessment__progress">
			<div class="progress-bar" role="progressbar"> </div>
		</div>
		<div class="assessment__progress__text text-dark-2 text-center mt-10"
			>1/9</div
		>
	</div>
	<!-- Progress bar end -->
	<!-- SlimOut logo start -->
	<div class="text-center mt-md-70 mt-sm-50 mt-20">
		<a href="/">
			<img
				src="Themes/Thrivewellrx.Theme.Slimout/assets/img/logo-main.svg"
				alt="SlimOut"
				class="assessment__logo"
			/>
		</a>
	</div>
	<!-- SlimOut logo end -->
	<!-- Assessment form title start -->
	<div class="assessment__title mt-30">Finding Your Treatment </div>
	<!-- Assessment form title end -->
</div>
