<section class="feedback py-50 py-md-100">
	<div class="container">
		<div class="feedback__block">
			<div class="section__headline">
				<h1
					class="site__heading-one text-center"
					data-aos="fade-up"
					data-aos-duration="600"
				>
					What People&nbsp;<span class="text-primary-grad-1 d-md-block"
						>Say About Us</span
					>
				</h1>
			</div>
			<div
				class="row"
				data-aos="fade-up"
				data-aos-delay="200"
				data-aos-duration="800"
			>
				<div class="feedback__slider swiper">
					<div class="swiper-wrapper feedback__wrapper">
						<div class="feedback__slide swiper-slide">
							<div>
								<div class="feedback__review">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star-stroke-rizz"></i>
								</div>
								<p class="feedback__desc">
									I recommend VPeptides to anyone trying to lose weight but has
									struggled to keep it off consistently. The program helped me
									so much, and today, I'm enjoying life like I never thought I
									could.
								</p>
							</div>

							<div class="feedback__client-info">
								<div class="feedback__patient">
									<img
										src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/comments/1.jpg"
										alt="Patient"
									/>
									<div class="feedback__patient--detail">
										<p class="feedback__patient__name">Lorna</p>
										<p class="feedback__patient__designation"> CEO, Docly </p>
									</div>
								</div>
							</div>
						</div>
						<!--Single Slide Item End-->

						<div class="feedback__slide swiper-slide">
							<div>
								<div class="feedback__review">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star-stroke-rizz"></i>
								</div>
								<p class="feedback__desc">
									I’ve been using H.Care Pharma for my Semaglutide
									prescriptions, and the service has been outstanding. The
									medications arrive on time, and the quality is top-notch.
									Highly recommend!
								</p>
							</div>

							<div class="feedback__client-info">
								<div class="feedback__patient">
									<img
										src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/comments/2.png"
										alt="Patient"
									/>
									<div class="feedback__patient--detail">
										<p class="feedback__patient__name">Emily R.</p>
										<p class="feedback__patient__designation"> CEO, Docly </p>
									</div>
								</div>
							</div>
						</div>
						<!--Single Slide Item End-->

						<div class="feedback__slide swiper-slide">
							<div>
								<div class="feedback__review">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star-stroke-rizz"></i>
								</div>
								<p class="feedback__desc">
									Tirzepatide from H.Care Pharma has truly changed my life. My
									blood sugar levels are stable, and I’ve lost weight. The
									customer support team is always helpful and responsive.
								</p>
							</div>

							<div class="feedback__client-info">
								<div class="feedback__patient">
									<img
										src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/comments/3.jpg"
										alt="Patient"
									/>
									<div class="feedback__patient--detail">
										<p class="feedback__patient__name">Michael T.</p>
										<p class="feedback__patient__designation"> CEO, Docly </p>
									</div>
								</div>
							</div>
						</div>
						<!--Single Slide Item End-->

						<div class="feedback__slide swiper-slide">
							<div>
								<div class="feedback__review">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star-stroke-rizz"></i>
								</div>
								<p class="feedback__desc">
									I’ve been using H.Care Pharma for my Semaglutide
									prescriptions, and the service has been outstanding. The
									medications arrive on time, and the quality is top-notch.
									Highly recommend!
								</p>
							</div>

							<div class="feedback__client-info">
								<div class="feedback__patient">
									<img
										src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/comments/1.jpg"
										alt="Patient"
									/>
									<div class="feedback__patient--detail">
										<p class="feedback__patient__name">Emily R.</p>
										<p class="feedback__patient__designation"> CEO, Docly </p>
									</div>
								</div>
							</div>
						</div>
						<!--Single Slide Item End-->
					</div>
					<div class="swiper-pagination dots-slider"></div>
				</div>
			</div>
		</div>
	</div>
</section>
