<div class="swiper client__feedbacks">
	<div class="swiper-wrapper">
		<div class="client__card client__card--blue swiper-slide">
			<div class="client__quote">
				<i class="icon-quote"></i>
			</div>
			<p class="fs-md-24 fs-20"
				>I’ve tried everything, but this is the first time something actually
				worked with my lifestyle instead of against it</p
			>
			<div class="client__profile">
				<div class="client__img">
					<img
						src="Themes/Thrivewellrx.Theme.Slimout/assets/img/client-1.png"
						alt="CLient"
					/>
				</div>
				<div class="client__title">
					<p class="mb-0 fs-18 fw-bold">John Williams</p>
					<p class="mb-0 fs-14 fw-bold">Lead designer</p>
				</div>
			</div>
		</div>
		<!--Client Card End -->
		<div class="client__card client__card--pink swiper-slide">
			<div class="client__quote">
				<i class="icon-quote"></i>
			</div>
			<p class="fs-md-24 fs-20"
				>I’ve tried everything, but this is the first time something actually
				worked with my lifestyle instead of against it</p
			>
			<div class="client__profile">
				<div class="client__img">
					<img
						src="Themes/Thrivewellrx.Theme.Slimout/assets/img/client-1.png"
						alt="CLient"
					/>
				</div>
				<div class="client__title">
					<p class="mb-0 fs-18 fw-bold">John Williams</p>
					<p class="mb-0 fs-14 fw-bold">Lead designer</p>
				</div>
			</div>
		</div>
		<!--Client Card End -->
		<div class="client__card client__card--green swiper-slide">
			<div class="client__quote">
				<i class="icon-quote"></i>
			</div>
			<p class="fs-md-24 fs-20"
				>I’ve tried everything, but this is the first time something actually
				worked with my lifestyle instead of against it</p
			>
			<div class="client__profile">
				<div class="client__img">
					<img
						src="Themes/Thrivewellrx.Theme.Slimout/assets/img/client-1.png"
						alt="CLient"
					/>
				</div>
				<div class="client__title">
					<p class="mb-0 fs-18 fw-bold">John Williams</p>
					<p class="mb-0 fs-14 fw-bold">Lead designer</p>
				</div>
			</div>
		</div>
		<!--Client Card End -->
		<div class="client__card client__card--blue swiper-slide">
			<div class="client__quote">
				<i class="icon-quote"></i>
			</div>
			<p class="fs-md-24 fs-20"
				>I’ve tried everything, but this is the first time something actually
				worked with my lifestyle instead of against it</p
			>
			<div class="client__profile">
				<div class="client__img">
					<img
						src="Themes/Thrivewellrx.Theme.Slimout/assets/img/client-1.png"
						alt="CLient"
					/>
				</div>
				<div class="client__title">
					<p class="mb-0 fs-18 fw-bold">John Williams</p>
					<p class="mb-0 fs-14 fw-bold">Lead designer</p>
				</div>
			</div>
		</div>
		<!--Client Card End -->
	</div>
</div>
