<!-- Assessment Buttons Start -->
<div class="assessment__buttons mx-auto mt-40">
	<button
		class="theme-btn theme-btn__outline theme-btn__outline--primary cursor-pointer theme-btn__min-w-210"
		>Back</button
	>
	<button class="theme-btn theme-btn__primary theme-btn__min-w-210">Next</button
	>
</div>
<!-- Assessment Buttons End -->
