<div class="accordion faq__lg" id="accordionExample">
	<!-- FAQ 1 -->
	<div class="accordion-item faq__item">
		<h2 class="accordion-header" id="headingOne">
			<button
				class="accordion-button"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseOne"
				aria-expanded="true"
				aria-controls="collapseOne"
			>
				What is the difference between Semaglutide and Tirzepatide?
			</button>
		</h2>
		<div
			id="collapseOne"
			class="accordion-collapse collapse show"
			aria-labelledby="headingOne"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body faq__lg__body">
				Semaglutide is a GLP-1 receptor agonist, which mimics a hormone that
				helps regulate blood sugar levels, slow down digestion, and reduce
				appetite. Tirzepatide, on the other hand, is a dual GIP and GLP-1
				receptor agonist, meaning it mimics two hormones that regulate blood
				sugar and appetite. This dual action can make weight loss programs with
				injections more effective. By combining two hormonal effects,
				Tirzepatide enhances the benefits of weight loss programs with
				injections, offering better blood sugar control and greater weight loss
				compared to using GLP-1 alone.
			</div>
		</div>
	</div>

	<!-- FAQ 2 -->
	<div class="accordion-item faq__item">
		<h2 class="accordion-header" id="headingTwo">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseTwo"
				aria-expanded="false"
				aria-controls="collapseTwo"
			>
				Should I expect any side effects?
			</button>
		</h2>
		<div
			id="collapseTwo"
			class="accordion-collapse collapse"
			aria-labelledby="headingTwo"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body faq__lg__body">
				Rizz Pharma serves individuals seeking accessible, expert-led healthcare
				for needs like weight management, hair loss, hormone therapy, and
				general wellness. It’s also ideal for healthcare providers and
				entrepreneurs aiming to enhance or establish virtual healthcare
				services.
			</div>
		</div>
	</div>

	<!-- FAQ 3 -->
	<div class="accordion-item faq__item">
		<h2 class="accordion-header" id="headingThree">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseThree"
				aria-expanded="false"
				aria-controls="collapseThree"
			>
				Will any existing medical condition change my eligibility?
			</button>
		</h2>
		<div
			id="collapseThree"
			class="accordion-collapse collapse"
			aria-labelledby="headingThree"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body faq__lg__body">
				The healthcare professionals on Rizz Pharma's platform include a
				nationwide network of licensed physicians and specialists. These experts
				are credentialed and experienced in providing care across a variety of
				health areas, such as weight management, hair loss, sexual health, and
				hormone replacement therapy. They are committed to delivering
				patient-centered, compliant, and effective medical services.
			</div>
		</div>
	</div>

	<!-- FAQ 4 -->
	<div class="accordion-item faq__item">
		<h2 class="accordion-header" id="headingFour">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseFour"
				aria-expanded="false"
				aria-controls="collapseFour"
			>
				How long before I should expect to see results?
			</button>
		</h2>
		<div
			id="collapseFour"
			class="accordion-collapse collapse"
			aria-labelledby="headingFour"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body faq__lg__body">
				No, you do not need an in-person healthcare provider to use Rizz Pharma.
				The platform facilitates virtual consultations and assessments with
				licensed healthcare professionals who guide you through your treatment
				journey.
			</div>
		</div>
	</div>

	<!-- FAQ 5 -->
	<div class="accordion-item faq__item">
		<h2 class="accordion-header" id="headingFive">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseFive"
				aria-expanded="false"
				aria-controls="collapseFive"
			>
				What kind of additional support do you offer?
			</button>
		</h2>
		<div
			id="collapseFive"
			class="accordion-collapse collapse"
			aria-labelledby="headingFive"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body faq__lg__body">
				<p>
					We prioritize your privacy and the security of your information. The
					Rizz Pharma platform is designed to comply with all relevant privacy
					laws and employs stringent protocols to safeguard your data.
				</p>
				<p>
					For more details, please review our
					<a href="/privacy-policy" class="text-blue-6">Privacy Policy</a>.
				</p>
			</div>
		</div>
	</div>

	<!-- FAQ 6 -->
	<div class="accordion-item faq__item">
		<h2 class="accordion-header" id="headingSix">
			<button
				class="accordion-button collapsed"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapseSix"
				aria-expanded="false"
				aria-controls="collapseSix"
			>
				What happens when I reach my ideal weight?
			</button>
		</h2>
		<div
			id="collapseSix"
			class="accordion-collapse collapse"
			aria-labelledby="headingSix"
			data-bs-parent="#accordionExample"
		>
			<div class="accordion-body faq__lg__body">
				<p>
					We prioritize your privacy and the security of your information. The
					Rizz Pharma platform is designed to comply with all relevant privacy
					laws and employs stringent protocols to safeguard your data.
				</p>
				<p>
					For more details, please review our
					<a href="/privacy-policy" class="text-blue-6">Privacy Policy</a>.
				</p>
			</div>
		</div>
	</div>
</div>
