---

---

<footer class="site__footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-6">
				<div class="site__footer__subscription">
					<h6 class="site__heading-six"
						>Subscribe to our newsletter for updates and exclusive offers.</h6
					>
					<div class="site__footer__form">
						<input
							type="email"
							name="email"
							id=""
							placeholder="Enter Email Address"
							class="site__footer__input"
						/>
						<button
							class="theme-btn theme-btn__primary theme-btn__primary--icon fs-md-20 fs-6"
							>Subscribe <i class="icon-arrow"></i></button
						>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-4 offset-lg-1 offset-0 mt-md-0 mt-30">
				<ul class="site__footer__menu">
					<li><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Solutions</a></li>
					<li><a href="">Products</a></li>
					<li><a href="">Legitscript</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-8 mt-md-0 mt-30">
				<ul class="site__footer__menu">
					<li><a href="">FAQ</a></li>
					<li><a href="">Privacy Policy</a></li>
					<li><a href="">Terms & Conditions</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="site__footer__bottom">
				<ul class="site__footer__social">
					<li><a href=""><i class="icon-instagram1"></i></a></li>
					<li><a href=""><i class="icon-FB"></i></a></li>
					<li><a href=""><i class="icon-Linkedin"></i></a></li>
					<li><a href=""><i class="icon-twitter"></i></a></li>
				</ul>
				<div class="site__footer__content-frame">
					<img
						src="Themes/Thrivewellrx.Theme.Slimout/assets/img/frame/frame-with-title-green-lg.svg"
						alt="Frame"
					/>
				</div>
			</div>
		</div>
	</div>
</footer>
