---
const footerLinkCols = [
  {
    links: [
      { text: "Home", href: "/" },
      // { text: "Products", href: "/#products" },
      { text: "About Us", href: "/about" },
      
      // { text: "My account", href: "/login" },
      
    ],
  },
  {
    links: [
			{ text: "FAQs", href: "/faq" },
			{ text: "Contact Us", href: "/contact-us" },
      
      // { text: "Privacy Policy", href: "/privacy-policy" },
      // { text: "Refund and returns policy", href: "/refund-and-returns-policy" },
    ],
  },
  {
    links: [
			{ text: "Terms and conditions", href: "/terms-and-conditions" },
      // { text: "Semaglutide", href: "/product-details" },
      // { text: "Tirzepatide", href: "/product-details" },
    ],
  },
];
---

<footer class="site__footer">
    <!-- Footer Top -->
    <div class="site__footer__top">
			<div class="container">
				<div class="site__footer__logo-section">
					<a href="/">
						<img
							src="/Themes/Thrivewellrx.Theme.Slimout/assets/img/logo-main.png"
							alt="ZePeptides Logo"
						/>
					</a>
				</div>
	
				<div class="site__footer__links w-full">
					{
						footerLinkCols.map((col) => (
							<div class="site__footer__links-column">
								<ul>
									{col.links.map((link) => (
										<li>
											<a class="site__heading-five" href={link.href}>{link.text}</a>
										</li>
									))}
								</ul>
							</div>
						))
					}
					<div class="site__footer__links-column site__footer__social ml-md-auto pt-14 pt-md-24">
						<a href="#" aria-label="Instagram">
							<i class="icon-instagram1" />
						</a>
						<a href="#" aria-label="Facebook">
							<i class="icon-facebook1" />
						</a>
						<a href="#" aria-label="LinkedIn">
							<i class="icon-linkedin1" />
						</a>
					</div>
				</div>

			</div>
    </div>

    <!-- Footer Bottom -->
    <div class="site__footer__bottom">
			<div class="container">
				<p class="site__footer__copyright text-center">
					Copyright © 2025 Zepeptides. All rights reserved.
				</p>
			</div>
    </div>
</footer>