---
const isHome = Astro.url.pathname === "/";
---

<header class="site__header">
	<input type="hidden" id="homeUrl" value="" />
	<div class="container">
		<div class="site__navbar">
			<!-- Logo -->
			<div class="site__logo">
				<a href="/">
					<img
						class="site__logo--img"
						src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/logo-main.png"
						alt="ZePeptides Logo"
					/>
				</a>
			</div>

			<!-- Navigation Menu -->
			<nav class="site__menu">
				<ul class="site__menu__list">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact-us">Contact</a></li>
					<!-- <li><a href="/faq">FAQ</a></li> -->
					 <li>
						<button type="button" onclick="goToLogin()" class="theme-btn theme-btn__outline theme-btn__outline--secondary">Log In</button>
					</li>
					<!-- <li id="getStartedLi" class="site__menu--signup show-in-mobile">
						<button type="button" onclick="goToQuiz()" class="theme-btn theme-btn__primary cursor-pointer">Get Started</button>
					</li>
				</ul> -->
			</nav>
			<div class="cart">
				<a href="/cart" class="header-icon cart-icon">
					<i class="icon-cart"></i>
					<span class="cart__badge text-center">99</span>
				</a>
			</div>
			<!-- CTA Buttons -->
			<div class="site__menu--auth">
				<div class="user-dropdown-container">
					<button class="header-icon user-icon" id="user-menu-btn">
						<i class="icon-profile"></i>
					</button>
					<!-- <div class="user-profile-thumb" id="user-menu-btn">
						<img src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/user.png" alt="">
					</div> -->
					<div class="user-dropdown" id="user-dropdown">
						<div class="user-name">User Name</div>
						<ul class="user-menu-list">
							<li><a href="/my-profile">Profile</a></li>
							<li><a href="/orders">Orders</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</div>
				</div>
				<a
					type="button"
					href="/login"
					class="theme-btn theme-btn__outline theme-btn__outline--primary px-20"
				>
					Login
				</a>
				<button
					type="button"
					class="theme-btn theme-btn__primary px-20"
					id="getStartedBtn"
				>
					Get Started
				</button>
			</div>

			<!-- Mobile Header Elements -->
			<div class="mobile-header-elements">
				<div class="user-dropdown-container mobile-only">
					<button class="header-icon user-icon" id="user-menu-btn-mob">
						<i class="icon-profile"></i>
					</button>
					<!-- <div class="user-profile-thumb" id="user-menu-btn-mob">
						<img src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/user.png" alt="">
					</div> -->
					<div class="user-dropdown" id="user-dropdown">
						<div class="user-name">User Name</div>
						<ul class="user-menu-list">
							<li><a href="/my-profile">Profile</a></li>
							<li><a href="/orders">Orders</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</div>
				</div>
				<button class="hamburger-menu" id="hamburger-menu">
					<i class="icon-hamburger-menu fw-bold"></i>
				</button>
			</div>
		</div>
	</div>
</header>
