<div class="order-table">
	<div class="order-table__row">
		<div class="order-table__title fs-16 fw-600">
			<p>Date</p>
		</div>
		<div class="order-table__data order-table__data--time fs-14 fw-500">
			12/28/2024 03:37:02 PM
		</div>
	</div>
	<div class="order-table__row">
		<div class="order-table__title fs-16 fw-600">
			<p>Medication</p>
		</div>
		<div class="order-table__data">
			<p>Lyopholized 2X Blend CJC-1295 No DAC (5mg) / Ipamorelin (5mg)</p>
		</div>
	</div>
	<div class="order-table__row">
		<div class="order-table__title fs-16 fw-600">
			<p>Order ID</p>
		</div>
		<div class="order-table__data">
			<p>#nx20250400010</p>
		</div>
	</div>
	<!-- <div class="order-table__row">
		<div class="order-table__title fs-16 fw-600">
			<p>Prescription</p>
		</div>
		<div class="order-table__data">
			<div class="list-table__actions">
				<button
					class="view-button"
					data-toggle="modal"
					data-target="#view-reports-modal"
				>
					View (5)
				</button>
				<button class="view-button view-button--icon">
					<i class="icon-upload"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="order-table__row">
		<div class="order-table__title fs-16 fw-600">
			<p>Lab Reports</p>
		</div>
		<div class="order-table__data">
			<div class="list-table__actions">
				<button
					class="view-button"
					data-toggle="modal"
					data-target="#view-reports-modal"
				>
					View (5)
				</button>
				<button class="view-button view-button--icon">
					<i class="icon-upload"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="order-table__row">
		<div class="order-table__title fs-16 fw-600">
			<p>Driving License</p>
		</div>
		<div class="order-table__data">
			<div class="list-table__actions">
				<button
					class="view-button"
					data-toggle="modal"
					data-target="#view-reports-modal"
				>
					View (5)
				</button>
				<button class="view-button view-button--icon">
					<i class="icon-upload"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="order-table__row">
		<div class="order-table__title fs-16 fw-600">
			<p>Intake form</p>
		</div>
		<div class="order-table__data">
			<button
				class="view-button"
				data-toggle="modal"
				data-target="#modal-intake-form-view"
			>
				View
			</button>
		</div>
	</div> -->
	<div class="order-table__row">
		<div class="order-table__title fs-16 fw-600">
			<p>Status</p>
		</div>
		<div class="order-table__data">
			<span class="status-pill status-pill--default"> Received </span>
		</div>
	</div>
	<div class="order-table__row">
		<div class="order-table__title fs-16 fw-600">
			<p>Details</p>
		</div>
		<div class="order-table__data">
			<button class="view-button"> View </button>
		</div>
	</div>
</div>
