<div class="row mt-30 mt-md-60 g-4">
	<!-- Card 1 -->

	<div class="col-md-6 d-flex">
		<div class="product__card w-100 p-0" data-aos="zoom-in">
			<!-- Header: image full-width top, title+tags beside image -->
			<div class="p-3">
				<div class="d-flex flex-column flex-lg-row gap-3 align-items-start">
					<div class="product__img--package flex-shrink-0">
						<img
							src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
							alt="Testosterone Pack 1"
						/>
					</div>
					<div>
						<h4 class="fs-24 fw-700 fw-bold mb-3">Testosterone Pack 1</h4>
						<div class="d-flex flex-md-column gap-3 align-items-start">
							<span class="fs-12 fw-500 status-pill status-pill--yellow-light"
								>Testosterone</span
							>
							<span class="fs-12 fw-500 status-pill status-pill--saving"
								>Research Only</span
							>
						</div>
					</div>
				</div>

				<!-- Medications Included -->
				<div class="mt-20">
					<p class="fs-16 fw-700 fw-bold mb-10 product__section--label"
						>Medications Included</p
					>
					<div
						class="d-flex flex-column gap-2 list-unstyled mb-0 align-items-start"
					>
						<div
							class="status-pill status-pill--primary-lighter text-wrap lh-base rounded-pill-alt"
						>
							<span class="text-primary fw-700 fs-16">Overdrive Plus</span>
							<span class="fw-400 fs-16"
								>Tadalafil 20mg/Bremelanotide 5mg/Pycnogenol 25mg</span
							>
						</div>
						<div
							class="status-pill status-pill--primary-lighter text-wrap lh-base rounded-pill-alt"
						>
							<span class="text-primary fw-700 fs-16">CS- Sermorelin</span>
							<span class="fw-400 fs-16">10MG (10ML) 10mg</span>
						</div>
						<div
							class="status-pill status-pill--primary-lighter text-wrap lh-base rounded-pill-alt"
						>
							<span class="text-primary fw-700 fs-16">CS- Sermorelin</span>
							<span class="fw-400 fs-16">10MG (10ML) 10mg</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Package Total Price -->
			<div class="product__price-section">
				<p class="fw-700 fs-20 mb-3 text-black">Package Total Price</p>
				<div class="d-flex flex-column gap-2">
					<div class="row g-1 align-items-center">
						<div class="col-6 fw-600 text-black">Without Lab Fee</div>
						<div class="col-3 fw-600 text-center">:</div>
						<div class="col-3 fw-700 text-black text-end">$127.00</div>
					</div>

					<div class="row g-1 align-items-center mt-2">
						<div class="col-6 fw-600 text-black">With Lab Fee (All State)</div>
						<div class="col-3 fw-600 text-center">:</div>
						<div class="col-3 fw-700 text-black text-end">$377.00</div>
					</div>
					<div class="row g-1 align-items-center">
						<div
							class="col-6 fw-600 text-black d-flex align-items-md-center align-items-end gap-1"
						>
							With Lab Fee (Selected States)
							<button
								type="button"
								class="productTooltipBtn btn p-0 border-0"
								data-bs-toggle="tooltip"
								data-bs-html="true"
								data-bs-title="<ul><li>Alabama</li><li>Idaho</li><li>Maine</li><li>Mississippi</li><li>South Carolina</li></ul>"
								data-bs-placement="top"
								data-bs-trigger="click hover"
							>
								<i class="icon-info-fill fs-20 text-primary"></i>
							</button>
						</div>
						<div class="col-3 fw-600 text-center">:</div>
						<div class="col-3 fw-700 text-black text-end">$627.00</div>
					</div>
				</div>
			</div>

			<!-- Actions -->
			<div class="product__actions mt-2 border-0 m-2">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#packageDetailsModal">Learn More</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#packageDetailsModal">Add to Cart</button
				>
			</div>
		</div>
	</div>

	<div class="col-md-6 d-flex">
		<div class="product__card w-100 p-0" data-aos="zoom-in">
			<!-- Header: image full-width top, title+tags beside image -->
			<div class="p-3">
				<div class="d-flex flex-column flex-lg-row gap-3 align-items-start">
					<div class="product__img--package flex-shrink-0">
						<img
							src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
							alt="Testosterone Pack 1"
						/>
					</div>
					<div>
						<h4 class="fs-24 fw-700 fw-bold mb-3">Testosterone Pack 1</h4>
						<div class="d-flex flex-md-column gap-3 align-items-start">
							<span class="fs-12 fw-500 status-pill status-pill--yellow-light"
								>Testosterone</span
							>
							<span class="fs-12 fw-500 status-pill status-pill--saving"
								>Research Only</span
							>
						</div>
					</div>
				</div>

				<!-- Medications Included -->
				<div class="mt-20">
					<p class="fs-16 fw-700 fw-bold mb-10 product__section--label"
						>Medications Included</p
					>
					<div
						class="d-flex flex-column gap-2 list-unstyled mb-0 align-items-start"
					>
						<div
							class="status-pill status-pill--primary-lighter text-wrap lh-base rounded-pill-alt"
						>
							<span class="text-primary fw-700 fs-16">Overdrive Plus</span>
							<span class="fw-400 fs-16"
								>Tadalafil 20mg/Bremelanotide 5mg/Pycnogenol 25mg</span
							>
						</div>
						<div
							class="status-pill status-pill--primary-lighter text-wrap lh-base rounded-pill-alt"
						>
							<span class="text-primary fw-700 fs-16">CS- Sermorelin</span>
							<span class="fw-400 fs-16">10MG (10ML) 10mg</span>
						</div>
						<div
							class="status-pill status-pill--primary-lighter text-wrap lh-base rounded-pill-alt"
						>
							<span class="text-primary fw-700 fs-16">CS- Sermorelin</span>
							<span class="fw-400 fs-16">10MG (10ML) 10mg</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Package Total Price -->
			<div class="product__price-section">
				<p class="fw-700 fs-20 mb-3 text-black">Package Total Price</p>
				<div class="d-flex flex-column gap-2">
					<div class="row g-1 align-items-center">
						<div class="col-6 fw-600 text-black">Without Lab Fee</div>
						<div class="col-3 fw-600 text-center">:</div>
						<div class="col-3 fw-700 text-black text-end">$127.00</div>
					</div>

					<div class="row g-1 align-items-center mt-2">
						<div class="col-6 fw-600 text-black">With Lab Fee (All State)</div>
						<div class="col-3 fw-600 text-center">:</div>
						<div class="col-3 fw-700 text-black text-end">$377.00</div>
					</div>
					<div class="row g-1 align-items-center">
						<div
							class="col-6 fw-600 text-black d-flex align-items-md-center align-items-end gap-1"
						>
							With Lab Fee (Selected States)
							<button
								type="button"
								class="productTooltipBtn btn p-0 border-0"
								data-bs-toggle="tooltip"
								data-bs-html="true"
								data-bs-title="<ul><li>Alabama</li><li>Idaho</li><li>Maine</li><li>Mississippi</li><li>South Carolina</li></ul>"
								data-bs-placement="top"
								data-bs-trigger="click hover"
							>
								<i class="icon-info-fill fs-20 text-primary"></i>
							</button>
						</div>
						<div class="col-3 fw-600 text-center">:</div>
						<div class="col-3 fw-700 text-black text-end">$627.00</div>
					</div>
				</div>
			</div>

			<!-- Actions -->
			<div class="product__actions mt-2 border-0 m-2">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#packageDetailsModal">Learn More</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#packageDetailsModal">Add to Cart</button
				>
			</div>
		</div>
	</div>
</div>

<!-- PACKAGE PRODUCT DETAILS MODAL -->
<div
	class="modal product-details-modal fade"
	id="packageDetailsModal"
	tabindex="-1"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<!-- Close button -->

			<div class="modal-body modal-body__alt2">
				<div class="btn-modal-close">
					<button
						type="button"
						class="btn btn-outline border-0"
						data-bs-dismiss="modal"
						aria-label="Close"
					>
						<i class="icon-cross_filled btn-close-icon"></i>
					</button>
				</div>
				<div class="row align-items-start pt-20">
					<!-- Product Image -->
					<div class="col-xl-5 col-md-6 product-hero__left-col">
						<div class="product-hero__left_gray">
							<img
								src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-2.png"
								class="product-hero__img"
								alt="Semaglutide"
							/>
						</div>
					</div>

					<!-- Product Details -->
					<div class="col-xl-7 col-md-6">
						<div class="product-hero__right">
							<h2 class="mb-3">Testosterone Pack 1</h2>

							<div class="d-flex flex-md-column gap-3 align-items-start">
								<span class="fs-12 fw-500 status-pill status-pill--yellow-light"
									>Testosterone</span
								>
							</div>

							<!-- Out of Stock badge (example - remove if not needed) -->
							<!--
              <div class="mt-12">
                <span class="badge rounded-pill bg-pink-2 text-red">
                  Out of Stock
                </span>
              </div>
              -->

							<div class="alert-pill mt-20 mt-md-24">
								<i class="icon-alert"></i>
								<span class="text-wrap text-md-nowrap">
									For Research Purposes Only — Not for Human Consumption
								</span>
							</div>

							<div class="mt-20">
								<p class="fs-16 fw-700 fw-bold mb-10 product__section--label"
									>Medications Included</p
								>
								<div
									class="d-flex flex-column gap-2 list-unstyled mb-0 align-items-start"
								>
									<div
										class="status-pill status-pill--primary-lighter text-wrap lh-base rounded-pill-alt"
									>
										<span class="text-primary fw-700 fs-16">Overdrive Plus</span
										>
										<span class="fw-400 fs-16"
											>Tadalafil 20mg/Bremelanotide 5mg/Pycnogenol 25mg</span
										>
									</div>
									<div
										class="status-pill status-pill--primary-lighter text-wrap lh-base rounded-pill-alt"
									>
										<span class="text-primary fw-700 fs-16">CS- Sermorelin</span
										>
										<span class="fw-400 fs-16">10MG (10ML) 10mg</span>
									</div>
									<div
										class="status-pill status-pill--primary-lighter text-wrap lh-base rounded-pill-alt"
									>
										<span class="text-primary fw-700 fs-16">CS- Sermorelin</span
										>
										<span class="fw-400 fs-16">10MG (10ML) 10mg</span>
									</div>
								</div>
							</div>
							<div class="product__price-section rounded-12">
								<p class="fw-700 fs-20 mb-3 text-black">Package Total Price</p>
								<div class="d-flex flex-column gap-2">
									<div class="row g-1 align-items-center">
										<div class="col-6 fw-600 text-black">Without Lab Fee</div>
										<div class="col-3 fw-600 text-center">:</div>
										<div class="col-3 fw-700 text-black text-end">$127.00</div>
									</div>

									<div class="row g-1 align-items-center mt-2">
										<div class="col-6 fw-600 text-black"
											>With Lab Fee (All State)</div
										>
										<div class="col-3 fw-600 text-center">:</div>
										<div class="col-3 fw-700 text-black text-end">$377.00</div>
									</div>
									<div class="row g-1 align-items-center">
										<div
											class="col-6 fw-600 text-black d-flex align-items-md-center align-items-end gap-1"
										>
											With Lab Fee (Selected States)
											<button
												type="button"
												class="productTooltipBtn btn p-0 border-0"
												data-bs-toggle="tooltip"
												data-bs-html="true"
												data-bs-title="<ul><li>Alabama</li><li>Idaho</li><li>Maine</li><li>Mississippi</li><li>South Carolina</li></ul>"
												data-bs-placement="top"
												data-bs-trigger="click hover"
											>
												<i class="icon-info-fill fs-20 text-primary"></i>
											</button>
										</div>
										<div class="col-3 fw-600 text-center">:</div>
										<div class="col-3 fw-700 text-black text-end">$627.00</div>
									</div>
								</div>
							</div>

							<!-- Cart Actions -->
							<div class="product-hero__cart mt-24">
								<div class="product-action__btn mt-24 d-flex gap-3 flex-wrap">
									<button
										type="button"
										class="theme-btn theme-btn-size-md theme-btn__primary"
									>
										Add to Cart
									</button>

									<button
										type="button"
										class="theme-btn theme-btn-size-md theme-btn__outline theme-btn__outline--primary"
									>
										Buy Now
									</button>
								</div>
							</div>

							<!-- Product Description -->
							<div
								class="text-body3 text-gray-dark mt-20 mt-md-24 product-hero__details_scroll"
							>
								<p>
									Semaglutide is a high-purity research peptide used in
									laboratory settings for studying GLP-1 receptor pathways.
								</p>
								<p>
									It is lyophilized and supplied in vials for reconstitution.
									Purity verified at 99.9% via HPLC.
								</p>
								<p>
									<strong
										>For Research Purposes Only — Not for Human Consumption</strong
									>
								</p>
								<p>
									Each vial contains 5 mg of Semaglutide with &gt;99.9% purity.
									Certificate of Analysis (COA) available upon request.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
