---

---

<div
	class="row mt-30 mt-md-60 g-4"
	data-aos="fade-up"
	data-aos-duration="800"
	data-aos-delay="1600"
>
	<div class="col-md-6 col-xl-4">
		<div class="product__card" data-aos="zoom-in">
			<a href="/product-details" class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</a>
			<a href="/product-details" class="d-flex align-items-start gap-2 mt-12">
				<h4 class="product__title"
					>Focus and Mood Blend - PE-22-28/Pinealon/Selank</h4
				>
				<span class="badge rounded-pill bg-pink-2 text-red ml-auto">
					Out of Stock
				</span>
			</a>
			<div class="product__meta">
				<div>
					<h3 class="text-primary product__meta--price">$320</h3>
					<p class="text-small text-gray-dark">per month</p>
				</div>
				<h5 class="text-gray-dark">Purity: 99.9%</h5>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Add to Cart</button
				>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4">
		<div class="product__card" data-aos="zoom-in">
			<a href="/product-details" class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</a>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<div class="product__meta">
				<div>
					<h3 class="text-primary product__meta--price">$320</h3>
					<p class="text-small text-gray-dark">per month</p>
				</div>
				<h5 class="text-gray-dark">Purity: 99.9%</h5>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary theme-btn--disabled"
					data-bs-toggle="modal"
					data-bs-target="#doses"
					disabled>Add to Cart</button
				>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4">
		<div class="product__card" data-aos="zoom-in">
			<a href="/product-details" class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</a>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<div class="product__meta">
				<div>
					<h3 class="text-primary product__meta--price">$320</h3>
					<p class="text-small text-gray-dark">per month</p>
				</div>
				<h5 class="text-gray-dark">Purity: 99.9%</h5>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Learn more</button
				>
				<!-- <button
						type="button"
						class="theme-btn theme-btn__primary"
						data-bs-toggle="modal"
						data-bs-target="#doses">Add to Cart</button
					> -->

				<div
					class="input-group product-action__cart product-action__cart--primary w-50"
				>
					<span class="input-group-btn">
						<button class="btn" type="button">
							<i class="icon-minus"></i>
						</button>
					</span>
					<input
						type="text"
						inputmode="numeric"
						class="form-control"
						id="quantity"
						value="1"
					/>
					<span class="input-group-btn">
						<button class="btn" type="button">
							<i class="icon-plus1"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4">
		<div class="product__card" data-aos="zoom-in">
			<a href="/product-details" class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</a>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<div class="product__meta">
				<div>
					<h3 class="text-primary product__meta--price">$320</h3>
					<p class="text-small text-gray-dark">per month</p>
				</div>
				<h5 class="text-gray-dark">Purity: 99.9%</h5>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Add to Cart</button
				>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4">
		<div class="product__card" data-aos="zoom-in">
			<a href="/product-details" class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</a>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<div class="product__meta">
				<div>
					<h3 class="text-primary product__meta--price">$320</h3>
					<p class="text-small text-gray-dark">per month</p>
				</div>
				<h5 class="text-gray-dark">Purity: 99.9%</h5>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Add to Cart</button
				>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4">
		<div class="product__card" data-aos="zoom-in">
			<a href="/product-details" class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</a>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<div class="product__meta">
				<div>
					<h3 class="text-primary product__meta--price">$320</h3>
					<p class="text-small text-gray-dark">per month</p>
				</div>
				<h5 class="text-gray-dark">Purity: 99.9%</h5>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#doses">Add to Cart</button
				>
			</div>
		</div>
	</div>
</div>
