---

---

<div class="row mt-30 mt-md-60 g-4" data-aos="fade-up">
	<div class="col-md-6 col-xl-4 d-flex">
		<div class="product__card w-100" data-aos="zoom-in">
			<div class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</div>
			<div class="d-flex align-items-start gap-2 mt-12">
				<h4 class="product__title">
					Focus and Mood Blend - PE-22-28/Pinealon/Selank
				</h4>

				<!-- <span class="badge rounded-pill bg-pink-2 text-red ml-auto">
          Out of Stock
        </span> -->
			</div>
			<div class="d-flex align-items-start gap-2 mt-12 my-2">
				<h5 class="text-gray-dark">Purity: 99.9%</h5>

				<span class="badge rounded-pill bg-pink-2 text-red ml-auto">
					Out of Stock
				</span>
			</div>

			<div class="text-body3 text-gray-dark product-hero__details line-clamp-2">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro rem
					possimus aperiam quae unde doloribus et quisquam, earum laudantium
					totam cupiditate sequi esse quod. Impedit, dolore placeat obcaecati
					deleniti at voluptatum qui corporis eum inventore optio sapiente harum
					labore ipsum eveniet autem ut, ad libero omnis tempora amet voluptas?
					Consectetur tempora libero officiis magnam ullam deserunt, eveniet
					tenetur non, at voluptatum culpa pariatur eum voluptate nihil delectus
					animi perspiciatis doloremque quia, sequi repellendus. Eius aspernatur
					maxime vel pariatur ipsa maiores, iste incidunt. Nostrum veritatis
					aliquam magni odio. Esse culpa ipsam, praesentium facilis et iste
					incidunt laudantium! Recusandae aspernatur et quae.
				</p>
			</div>

			<div
				class="d-flex flex-wrap align-items-center justify-content-between py-3"
			>
				<div class="d-flex align-items-center gap-2">
					<input
						class="form-check-input fs-md-24 fs-20 mt-0"
						type="radio"
						name="gender"
						id="oneTimePrice"
						value="male"
						checked=""
					/>
					<label
						class="form-check-label fs-md-18 fs-16 fw-medium"
						for="oneTimePrice">One Time Price</label
					>
				</div>
				<h3 class="text-primary product__meta--price mb-0">$320</h3>
			</div>

			<div class="product__actions d-block">
				<div class="d-flex align-items-center justify-content-between py-2">
					<div class="d-flex flex-wrap align-items-center gap-2">
						<input
							class="form-check-input fs-md-24 fs-20 mt-0"
							type="radio"
							name="gender"
							id="subscriptionPrice"
							value="male"
							checked=""
						/>
						<label
							class="form-check-label fs-md-18 fs-16 fw-medium"
							for="subscriptionPrice"
							>Subscribe & Save
						</label>
					</div>
					<div class="d-flex align-items-center gap-2">
						<h3
							class="text-gray-medium fs-16 text-decoration-line-through mb-0"
						>
							$220
						</h3>
						<h3 class="text-primary product__meta--price mb-0">$320</h3>
					</div>
				</div>
				<span class="status-pill status-pill--saving d-inline-block"
					>16.67% Savings</span
				>
			</div>

			<ul class="d-flex flex-column gap-3 pb-3">
				<li class="d-flex gap-2">
					<i class="icon-tick fs-18 text-primary"></i>
					<span class="lh-sm fs-14"
						>A Quarter Billion+ nights made (and counting)</span
					>
				</li>
				<li class="d-flex gap-2">
					<i class="icon-tick fs-18 text-primary"></i>
					<span class="lh-sm fs-14">Easily charge or cancel any time</span>
				</li>
				<li class="d-flex gap-2">
					<i class="icon-tick fs-18 text-primary"></i>
					<span class="lh-sm fs-14">Delivered every 30 days</span>
				</li>
			</ul>

			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Add to Cart</button
				>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4 d-flex">
		<div class="product__card w-100" data-aos="zoom-in">
			<div class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</div>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<h5 class="text-gray-dark my-2">Purity: 99.9%</h5>
			<div class="text-body3 text-gray-dark product-hero__details line-clamp-2">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro rem
					possimus aperiam quae unde doloribus et quisquam, earum laudantium
					totam cupiditate sequi esse quod. Impedit, dolore placeat obcaecati
					deleniti at voluptatum qui corporis eum inventore optio sapiente harum
					labore ipsum eveniet autem ut, ad libero omnis tempora amet voluptas?
					Consectetur tempora libero officiis magnam ullam deserunt, eveniet
					tenetur non, at voluptatum culpa pariatur eum voluptate nihil delectus
					animi perspiciatis doloremque quia, sequi repellendus. Eius aspernatur
					maxime vel pariatur ipsa maiores, iste incidunt. Nostrum veritatis
					aliquam magni odio. Esse culpa ipsam, praesentium facilis et iste
					incidunt laudantium! Recusandae aspernatur et quae.
				</p>
			</div>
			<div class="d-flex align-items-center justify-content-between py-3">
				<h4 class="lh-1">Price:</h4>
				<h3 class="text-primary product__meta--price">$320</h3>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary theme-btn--disabled"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal"
					disabled>Add to Cart</button
				>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4 d-flex">
		<div class="product__card w-100" data-aos="zoom-in">
			<div class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</div>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<h5 class="text-gray-dark my-2">Purity: 99.9%</h5>
			<div class="d-flex align-items-center justify-content-between py-3">
				<h4 class="lh-1">Price:</h4>
				<h3 class="text-primary product__meta--price">$320</h3>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Learn more</button
				>
				<!-- <button
						type="button"
						class="theme-btn theme-btn__primary"
						data-bs-toggle="modal"
						data-bs-target="#productDetailsModal">Add to Cart</button
					> -->

				<div
					class="input-group product-action__cart product-action__cart--primary w-50"
				>
					<span class="input-group-btn">
						<button class="btn" type="button">
							<i class="icon-minus"></i>
						</button>
					</span>
					<input
						type="text"
						inputmode="numeric"
						class="form-control numeric-only"
						id="quantity"
						value="1"
					/>
					<span class="input-group-btn">
						<button class="btn" type="button">
							<i class="icon-plus1"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4 d-flex">
		<div class="product__card w-100" data-aos="zoom-in">
			<div class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</div>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<h5 class="text-gray-dark my-2">Purity: 99.9%</h5>
			<div class="text-body3 text-gray-dark product-hero__details line-clamp-2">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro rem
					possimus aperiam quae unde doloribus et quisquam, earum laudantium
					totam cupiditate sequi esse quod. Impedit, dolore placeat obcaecati
					deleniti at voluptatum qui corporis eum inventore optio sapiente harum
					labore ipsum eveniet autem ut, ad libero omnis tempora amet voluptas?
					Consectetur tempora libero officiis magnam ullam deserunt, eveniet
					tenetur non, at voluptatum culpa pariatur eum voluptate nihil delectus
					animi perspiciatis doloremque quia, sequi repellendus. Eius aspernatur
					maxime vel pariatur ipsa maiores, iste incidunt. Nostrum veritatis
					aliquam magni odio. Esse culpa ipsam, praesentium facilis et iste
					incidunt laudantium! Recusandae aspernatur et quae.
				</p>
			</div>
			<div class="d-flex align-items-center justify-content-between py-3">
				<h4 class="lh-1">Price:</h4>
				<h3 class="text-primary product__meta--price">$320</h3>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Add to Cart</button
				>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4 d-flex">
		<div class="product__card w-100" data-aos="zoom-in">
			<div class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</div>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<div class="d-flex align-items-start gap-2 mt-12 my-2">
				<h5 class="text-gray-dark">Purity: 99.9%</h5>

				<span class="badge rounded-pill bg-pink-2 text-red ml-auto">
					Out of Stock
				</span>
			</div>

			<div class="text-body3 text-gray-dark product-hero__details line-clamp-2">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro rem
					possimus aperiam quae unde doloribus et quisquam, earum laudantium
					totam cupiditate sequi esse quod. Impedit, dolore placeat obcaecati
					deleniti at voluptatum qui corporis eum inventore optio sapiente harum
					labore ipsum eveniet autem ut, ad libero omnis tempora amet voluptas?
					Consectetur tempora libero officiis magnam ullam deserunt, eveniet
					tenetur non, at voluptatum culpa pariatur eum voluptate nihil delectus
					animi perspiciatis doloremque quia, sequi repellendus. Eius aspernatur
					maxime vel pariatur ipsa maiores, iste incidunt. Nostrum veritatis
					aliquam magni odio. Esse culpa ipsam, praesentium facilis et iste
					incidunt laudantium! Recusandae aspernatur et quae.
				</p>
			</div>
			<div class="d-flex align-items-center justify-content-between py-3">
				<h4 class="lh-1">Price:</h4>
				<h3 class="text-primary product__meta--price">$320</h3>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Add to Cart</button
				>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xl-4 d-flex">
		<div class="product__card w-100" data-aos="zoom-in">
			<div class="product__img">
				<img
					src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
					alt="Product"
				/>
			</div>
			<div class="d-flex align-items-center gap-2 mt-12">
				<h4 class="product__title">NAD+ Nasal Spray</h4>
			</div>
			<h5 class="text-gray-dark my-2">Purity: 99.9%</h5>
			<div class="d-flex align-items-center justify-content-between py-3">
				<h4 class="lh-1">Price:</h4>
				<h3 class="text-primary product__meta--price">$320</h3>
			</div>
			<div class="product__actions">
				<button
					type="button"
					class="theme-btn theme-btn__outline theme-btn__outline--primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Learn more</button
				>
				<button
					type="button"
					class="theme-btn theme-btn__primary"
					data-bs-toggle="modal"
					data-bs-target="#productDetailsModal">Add to Cart</button
				>
			</div>
		</div>
	</div>
</div>

<!-- <div
  class="row mt-30 mt-md-60 g-4"
  data-aos="fade-up"
  data-aos-duration="800"
  data-aos-delay="1600"
>
  <div class="col-md-6 col-xl-4">
    <div class="product__card" data-aos="zoom-in">
      <div class="product__img">
        <img
          src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
          alt="Product"
        />
      </div>
      <div class="d-flex align-items-start gap-2 mt-12">
        <h4 class="product__title">
          Focus and Mood Blend - PE-22-28/Pinealon/Selank
        </h4>
        <span class="badge rounded-pill bg-pink-2 text-red ml-auto">
          Out of Stock
        </span>
      </div>
      <div class="text-body3 text-gray-dark product-hero__details line-clamp-2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro rem
          possimus aperiam quae unde doloribus et quisquam, earum laudantium
          totam cupiditate sequi esse quod. Impedit, dolore placeat obcaecati
          deleniti at voluptatum qui corporis eum inventore optio sapiente harum
          labore ipsum eveniet autem ut, ad libero omnis tempora amet voluptas?
          Consectetur tempora libero officiis magnam ullam deserunt, eveniet
          tenetur non, at voluptatum culpa pariatur eum voluptate nihil delectus
          animi perspiciatis doloremque quia, sequi repellendus. Eius aspernatur
          maxime vel pariatur ipsa maiores, iste incidunt. Nostrum veritatis
          aliquam magni odio. Esse culpa ipsam, praesentium facilis et iste
          incidunt laudantium! Recusandae aspernatur et quae.
        </p>
      </div>
      <div class="product__meta">
        <div>
          <h3 class="text-primary product__meta--price">$320</h3>
          <p class="text-small text-gray-dark">per month</p>
        </div>
        <h5 class="text-gray-dark">Purity: 99.9%</h5>
      </div>
      <div class="product__actions">
        <button
          type="button"
          class="theme-btn theme-btn__outline theme-btn__outline--primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Learn more</button
        >
        <button
          type="button"
          class="theme-btn theme-btn__primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Add to Cart</button
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="product__card" data-aos="zoom-in">
      <div class="product__img">
        <img
          src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
          alt="Product"
        />
      </div>
      <div class="d-flex align-items-center gap-2 mt-12">
        <h4 class="product__title">NAD+ Nasal Spray</h4>
      </div>
      <div class="text-body3 text-gray-dark product-hero__details line-clamp-2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro rem
          possimus aperiam quae unde doloribus et quisquam, earum laudantium
          totam cupiditate sequi esse quod. Impedit, dolore placeat obcaecati
          deleniti at voluptatum qui corporis eum inventore optio sapiente harum
          labore ipsum eveniet autem ut, ad libero omnis tempora amet voluptas?
          Consectetur tempora libero officiis magnam ullam deserunt, eveniet
          tenetur non, at voluptatum culpa pariatur eum voluptate nihil delectus
          animi perspiciatis doloremque quia, sequi repellendus. Eius aspernatur
          maxime vel pariatur ipsa maiores, iste incidunt. Nostrum veritatis
          aliquam magni odio. Esse culpa ipsam, praesentium facilis et iste
          incidunt laudantium! Recusandae aspernatur et quae.
        </p>
      </div>
      <div class="product__meta">
        <div>
          <h3 class="text-primary product__meta--price">$320</h3>
          <p class="text-small text-gray-dark">per month</p>
        </div>
        <h5 class="text-gray-dark">Purity: 99.9%</h5>
      </div>
      <div class="product__actions">
        <button
          type="button"
          class="theme-btn theme-btn__outline theme-btn__outline--primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Learn more</button
        >
        <button
          type="button"
          class="theme-btn theme-btn__primary theme-btn--disabled"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal"
          disabled>Add to Cart</button
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="product__card" data-aos="zoom-in">
      <div class="product__img">
        <img
          src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
          alt="Product"
        />
      </div>
      <div class="d-flex align-items-center gap-2 mt-12">
        <h4 class="product__title">NAD+ Nasal Spray</h4>
      </div>
      <div class="product__meta">
        <div>
          <h3 class="text-primary product__meta--price">$320</h3>
          <p class="text-small text-gray-dark">per month</p>
        </div>
        <h5 class="text-gray-dark">Purity: 99.9%</h5>
      </div>
      <div class="product__actions">
        <button
          type="button"
          class="theme-btn theme-btn__outline theme-btn__outline--primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Learn more</button
        >

        <div
          class="input-group product-action__cart product-action__cart--primary w-50"
        >
          <span class="input-group-btn">
            <button class="btn" type="button">
              <i class="icon-minus"></i>
            </button>
          </span>
          <input
            type="text"
            inputmode="numeric"
            class="form-control numeric-only"
            id="quantity"
            value="1"
          />
          <span class="input-group-btn">
            <button class="btn" type="button">
              <i class="icon-plus1"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="product__card" data-aos="zoom-in">
      <div class="product__img">
        <img
          src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
          alt="Product"
        />
      </div>
      <div class="d-flex align-items-center gap-2 mt-12">
        <h4 class="product__title">NAD+ Nasal Spray</h4>
      </div>
      <div class="product__meta">
        <div>
          <h3 class="text-primary product__meta--price">$320</h3>
          <p class="text-small text-gray-dark">per month</p>
        </div>
        <h5 class="text-gray-dark">Purity: 99.9%</h5>
      </div>
      <div class="product__actions">
        <button
          type="button"
          class="theme-btn theme-btn__outline theme-btn__outline--primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Learn more</button
        >
        <button
          type="button"
          class="theme-btn theme-btn__primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Add to Cart</button
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="product__card" data-aos="zoom-in">
      <div class="product__img">
        <img
          src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
          alt="Product"
        />
      </div>
      <div class="d-flex align-items-center gap-2 mt-12">
        <h4 class="product__title">NAD+ Nasal Spray</h4>
      </div>
      <div class="product__meta">
        <div>
          <h3 class="text-primary product__meta--price">$320</h3>
          <p class="text-small text-gray-dark">per month</p>
        </div>
        <h5 class="text-gray-dark">Purity: 99.9%</h5>
      </div>
      <div class="product__actions">
        <button
          type="button"
          class="theme-btn theme-btn__outline theme-btn__outline--primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Learn more</button
        >
        <button
          type="button"
          class="theme-btn theme-btn__primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Add to Cart</button
        >
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="product__card" data-aos="zoom-in">
      <div class="product__img">
        <img
          src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-1.png"
          alt="Product"
        />
      </div>
      <div class="d-flex align-items-center gap-2 mt-12">
        <h4 class="product__title">NAD+ Nasal Spray</h4>
      </div>
      <div class="product__meta">
        <div>
          <h3 class="text-primary product__meta--price">$320</h3>
          <p class="text-small text-gray-dark">per month</p>
        </div>
        <h5 class="text-gray-dark">Purity: 99.9%</h5>
      </div>
      <div class="product__actions">
        <button
          type="button"
          class="theme-btn theme-btn__outline theme-btn__outline--primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Learn more</button
        >
        <button
          type="button"
          class="theme-btn theme-btn__primary"
          data-bs-toggle="modal"
          data-bs-target="#productDetailsModal">Add to Cart</button
        >
      </div>
    </div>
  </div>
</div> -->

<!-- Dose Modal Start -->
<div id="doses" class="modal fade dose-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<!-- <button type="button" class="btn-close" data-dismiss="modal">
				<i class="icon-cross_filled"></i>
			</button> -->

			<div class="modal-body">
				<div class="modal__text mt-0">
					<p>Select Program</p>
				</div>
				<p class="text-blue-6 text-center mb-20">
					You can select any 1 program from below list
				</p>
				<div class="dose-modal__cta mt-20">
					<button
						class="theme-btn theme-btn-size-lg theme-btn__secondary min-w-206 fw-400"
						>1 Month Programs</button
					>
					<button
						class="theme-btn theme-btn-size-lg theme-btn__outline theme-btn__outline--secondary min-w-206"
						>3 Month Programs</button
					>
				</div>
				<div class="modal__radios mt-20">
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$50</span
							>
						</label>
					</div>
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$50</span
							>
						</label>
					</div>
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$350</span
							>
						</label>
					</div>
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$350</span
							>
						</label>
					</div>
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$350</span
							>
						</label>
					</div>
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$350</span
							>
						</label>
					</div>
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$350</span
							>
						</label>
					</div>
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$350</span
							>
						</label>
					</div>
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$350</span
							>
						</label>
					</div>
					<div class="modal__radios-item">
						<label class="dose-radio">
							<span class="dose-radio__input">
								<input name="dose" type="radio" />
								<span></span>
							</span>
							<span
								class="dose-radio__label"
								data-bind="text: dose.Dose +'/$'+dose.Price">2.5mg/$350</span
							>
						</label>
					</div>
				</div>

				<div class="dose-modal__selection">
					<p class="fs-14">You have selected - 0.25mg - $299</p>
				</div>
				<div class="modal__actions">
					<button
						class="modal__action theme-btn theme-btn__outline border-primary theme-btn__outline--primary"
						data-dismiss="modal"
						type="button"
					>
						Cancel
					</button>
					<button class="modal__action modal__action--primary" type="button">
						Confirm
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Dose Modal End -->

<div
	class="modal product-details-modal fade"
	id="productDetailsModal"
	tabindex="-1"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<!-- Close button -->

			<div class="modal-body modal-body__alt2">
				<div class="btn-modal-close">
					<button
						type="button"
						class="btn btn-outline border-0"
						data-bs-dismiss="modal"
						aria-label="Close"
					>
						<i class="icon-cross_filled btn-close-icon"></i>
					</button>
				</div>
				<div class="row align-items-start pt-20">
					<!-- Product Image -->
					<div class="col-xl-5 col-md-6 product-hero__left-col">
						<div class="product-hero__left_gray">
							<img
								src="Themes/Thrivewellrx.Theme.ZePeptides/assets/img/products/product-2.png"
								class="product-hero__img"
								alt="Semaglutide"
							/>
						</div>
					</div>

					<!-- Product Details -->
					<div class="col-xl-7 col-md-6">
						<div class="product-hero__right">
							<h2 class="mb-3">Semaglutide 5mg/vial</h2>

							<h3 class="mt-12 text-primary">$299.99</h3>

							<!-- Out of Stock badge (example - remove if not needed) -->
							<!--
              <div class="mt-12">
                <span class="badge rounded-pill bg-pink-2 text-red">
                  Out of Stock
                </span>
              </div>
              -->

							<div
								class="d-flex justify-content-between align-items-center mt-12"
							>
								<h5 class="text-gray-dark">Purity: 99.9%</h5>
								<a
									href="https://example.com/coa/semaglutide.pdf"
									target="_blank"
									rel="noopener noreferrer"
									class="text-primary"
								>
									COA
								</a>
							</div>

							<div class="alert-pill mt-20 mt-md-24">
								<i class="icon-alert"></i>
								<span>
									For Research Purposes Only — Not for Human Consumption
								</span>
							</div>

							<div
								class="d-flex flex-wrap align-items-center justify-content-between py-3"
							>
								<div class="d-flex align-items-center gap-2">
									<input
										class="form-check-input fs-md-24 fs-20 mt-0"
										type="radio"
										name="gender"
										id="oneTimePriceProdDetails"
										value="male"
										checked=""
									/>
									<label
										class="form-check-label fs-md-18 fs-16 fw-bold"
										for="oneTimePriceProdDetails">One Time Price</label
									>
								</div>
								<h3 class="text-primary product__meta--price mb-0">$320</h3>
							</div>
							<div class="border-solid"></div>
							<div
								class="d-flex align-items-start justify-content-between py-3"
							>
								<div class="d-flex flex-wrap align-items-center gap-2">
									<input
										class="form-check-input fs-md-24 fs-20 mt-0"
										type="radio"
										name="gender"
										id="subscriptionPriceProdDetails"
										value="male"
										checked=""
									/>
									<label
										class="form-check-label fs-md-18 fs-16 fw-bold"
										for="subscriptionPriceProdDetails"
										>Subscribe &amp; Save
									</label>
								</div>

								<div>
									<div
										class="d-flex align-items-center justify-content-end gap-2"
									>
										<h3
											class="text-gray-medium fs-16 text-decoration-line-through mb-0"
										>
											$220
										</h3>
										<h3 class="text-primary product__meta--price mb-0 lh-1">
											$320
										</h3>
									</div>
									<span class="status-pill status-pill--saving d-block"
										>16.67% Savings</span
									>
								</div>
							</div>

							<ul class="d-flex flex-column gap-3 pb-3">
								<li class="d-flex gap-2">
									<i class="icon-tick fs-18 text-primary"></i>
									<span class="lh-sm fs-14"
										>A Quarter Billion+ nights made (and counting)</span
									>
								</li>
								<li class="d-flex gap-2">
									<i class="icon-tick fs-18 text-primary"></i>
									<span class="lh-sm fs-14"
										>Easily charge or cancel any time</span
									>
								</li>
								<li class="d-flex gap-2">
									<i class="icon-tick fs-18 text-primary"></i>
									<span class="lh-sm fs-14">Delivered every 30 days</span>
								</li>
							</ul>

							<!-- Cart Actions -->
							<div class="product-hero__cart mt-24">
								<div class="product-action__btn mt-24 d-flex gap-3 flex-wrap">
									<button
										type="button"
										class="theme-btn theme-btn-size-md theme-btn__primary"
									>
										Add to Cart
									</button>

									<button
										type="button"
										class="theme-btn theme-btn-size-md theme-btn__outline theme-btn__outline--primary"
									>
										Buy Now
									</button>
								</div>
							</div>

							<!-- Product Description -->
							<div
								class="text-body3 text-gray-dark mt-20 mt-md-24 product-hero__details_scroll"
							>
								<p>
									Semaglutide is a high-purity research peptide used in
									laboratory settings for studying GLP-1 receptor pathways.
								</p>
								<p>
									It is lyophilized and supplied in vials for reconstitution.
									Purity verified at 99.9% via HPLC.
								</p>
								<p>
									<strong
										>For Research Purposes Only — Not for Human Consumption</strong
									>
								</p>
								<p>
									Each vial contains 5 mg of Semaglutide with &gt;99.9% purity.
									Certificate of Analysis (COA) available upon request.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
