// ==== Colors
$light: #F6F6F6;
$background-1: #F3ECDA;
$background-2: #FFF1CF;
$background-3: #FCE3A3;
$primary : #FF937C;
$secondary: #1F4A63;
$gray: #8F9D99;
$red: #876304;
$yellow: #FFD66D;
$purple: #8F89C9;
$green-1: #8CC084;
$green-2: #BBCC46;
$blue-1: #72B8D1;
$blue-2: #9BD0E3;
$blue-3: #9790D4;
$pink-1: #D47186;
$pink-2: #E9A8B6;
$success: #28a745;
$warning: #ffc107;


// ==== Font Sizes 
$fs-10: 10px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-17: 17px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-28: 28px;
$fs-30: 30px;
$fs-32: 32px;
$fs-36: 36px;
$fs-40: 40px;
$fs-48: 48px;
$fs-70: 70px;
$fs-90: 90px;
$fs-140: 140px;