@use "../base/variables" as *;

.cart-hero {
	padding-top: 130px;

	&__heading {
		font-size: $fs-30;
		line-height: 1.4;
		font-weight: 600;
		text-align: center;
	}

	&__text {
		font-size: $fs-22;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 30px;
		color: $blue-2;
		text-align: center;
		background-color: $blue-2;
		padding: 12px 20px;
		border-radius: 12px;
		margin-top: 20px;
		display: inline-block;
	}
}

.theme-tag {
	background-color: #fbf9ff;
	border: 0.5px solid #5607c5;

	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.theme-tag:hover {
	background-color: #f0edf7;
}

.cart-flash {
	padding: 20px 0 0 0;

	&__box {
		padding: 24px 0 12px;

		display: flex;
		align-items: center;
		justify-content: end;

		@media (max-width: 767px) {
			padding: 0px;
		}
	}

	&__message {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 16px;
	}

	&__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 32px;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background-color: $primary;

		i {
			font-size: $fs-14;
			color: white;
		}
	}

	&__text {
		font-size: $fs-18;
		color: $secondary;
		margin-bottom: 0;
	}

	@media all and (max-width: 767px) {
		&__box {
			gap: 12px;
			flex-direction: column;
		}

		&__message {
			gap: 8px;
		}

		&__text {
			font-size: $fs-16;
			line-height: 1.2;
		}

		// .theme-btn {
		// 	font-size: $fs-14;
		// 	padding: 10px 14px;
		// }
	}
}

.cart-view {
	margin-bottom: 50px;
}

.cart {
	&-card {
		border-radius: 10px;
		border: 1px solid #e6d4ff;

		&__header {
			padding: 14px 24px;
			border-bottom: 1px solid #e6d4ff;
		}
	}

	&__items {
		border-radius: 10px;
		border: 1px solid #e6d4ff;
		max-height: 447px;
		overflow-y: auto;

		&--alt {
			border: 0 !important;
		}

		@media all and (max-width: 767px) {
			display: flex;
			flex-direction: column;
			gap: 16px;
			border: 0;
			max-height: unset;

			&--alt {
				padding: 0 !important;
				border: 0 !important;
				border-bottom: 1px solid $primary-light !important;
				border-radius: 0 !important;
				gap: 0 !important;

				&:last-child {
					border-bottom: 0 !important;
				}
			}
		}


	}

	&__item {
		padding: 24px;
		display: flex;
		justify-content: space-between;
		gap: 10px;

		&--alt {
			border: 0 !important;
			border-bottom: 1px solid $primary-light !important;
			border-radius: 0 !important;

			&:last-child {
				border-bottom: 0 !important;
			}
		}


		@media all and (max-width: 767px) {
			border: 1px solid #e6d4ff;
			border-radius: 10px;
			// border-radius: 10px;
			padding: 14px;
		}

		&:first-child {
			// border-top-left-radius: 10px;
			// border-top-right-radius: 10px;

			@media all and (max-width: 767px) {
				// border-bottom-left-radius: 10px;
				// border-bottom-right-radius: 10px;
			}
		}

		&:last-child {
			// border-bottom-left-radius: 10px;
			// border-bottom-right-radius: 10px;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #e6d4ff;
		}
	}

	&__item-price {
		color: rgba(white, 0.7);
	}

	&__product {
		display: flex;

		@media only screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__thumbnail {
		flex-shrink: 0;
		flex-grow: 0;
		background-size: cover;
		background-color: $blue-3;
		padding: 15px 15px 15px 15px;

		&--purple {
			background: linear-gradient(to right, #d2b3ff, #ede0ff);
			background-size: cover;
		}

		&--pink {
			background: linear-gradient(to right, #d2b3ff, #db2c52);
			background-size: cover;
		}

		&--green {
			background: linear-gradient(to right, #d2b3ff, #32dd2c);
			background-size: cover;
		}

		&--blue-light {
			background: linear-gradient(to right, #d2b3ff, #7f4ec4);
			background-size: cover;
		}

		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		padding: 15px;
		height: 100px;
		width: 112px;

		img {
			height: 100%;
			max-width: 100%;
			width: auto;
			object-fit: contain;
		}

		@media all and (max-width: 767px) {
			width: 84px;
			height: 84px;
		}
	}

	&__details {
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		p {
			color: $secondary;
			margin-bottom: 0;
		}
	}

	&__item-name {
		font-size: $fs-24;
		line-height: 1.2;
		margin-bottom: 4px;
		font-style: bold;
		color: $secondary;
		font-family: "sfuidisplay", sans-serif;
		font-weight: 700;
		color: #2d2d2d;
	}

	&_action {
		margin-left: auto;
	}

	@media all and (max-width: 767px) {
		&__details {
			margin-left: 12px;

			p {
				font-size: $fs-14;
				line-height: 1.2;
			}
		}

		&__item-name {
			font-size: 18px !important;
			line-height: 1.1;
			font-weight: 700 !important;
		}

		&__item-price {
			font-size: 16px !important;
			line-height: 1.6;
			font-weight: 600 !important;
		}
	}

	// Empty cart view
	&-empty {
		padding-top: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 30px;

		&__text {
			font-size: $fs-30;
			line-height: 1.2;
			font-weight: 500;
			margin-bottom: 0;
			text-align: center;

			@media all and (max-width: 767px) {
				font-size: $fs-20;
				line-height: 1.2;
			}
		}

		&__graphic {
			width: 385px;
			max-width: 66%;
			height: auto;
		}

		&__img {
			display: inline-block;
			vertical-align: top;
			width: 100%;
		}
	}
}

.promo {
	margin-top: 24px;
	padding: 24px;
	border: 1px solid #e6d4ff;
	border-radius: 10px;
	background-color: transparent;

	&__form {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 24px;
	}

	&__input {
		display: inline-block;
		min-width: 130px;
		flex: 1 1 auto;
		height: 60px;
		padding: 18px 20px;
		font-size: $fs-16;
		line-height: 1;
		color: $secondary;
		border: 1px solid #e6d4ff;
		border-radius: 10px;
		outline: none;
		background-color: transparent;
		vertical-align: middle;
	}

	@media all and (max-width: 767px) {
		margin-bottom: 24px;
		padding: 12px;

		&__form {
			gap: 10px;
		}

		&__input {
			height: 44px;
			padding: 10px 14px;
			font-size: $fs-16;
			width: 173px !important;
		}

		&__btn {
			padding: 2.5px 6px;
			color: #5607c5;
			height: 42px;
			font-size: 12px;
			min-width: 100px;
		}
	}
}

.pricing {
	&__basic {
		border-bottom: 1px dashed #e6d4ff;
		padding: 20px 24px;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 22px;

		&:last-child {
			margin-bottom: 0;
		}

		&--name {
			font-weight: 700;
			line-height: 1;
			font-size: $fs-16;
			margin-bottom: 0px;
		}

		&--value {
			color: $secondary;
			font-weight: 700;
			line-height: 1;
			font-size: $fs-16;
			margin-bottom: 0px;
		}
	}

	&__coupon {
		padding: 24px;
	}

	&__total {
		border-top: 1px dashed #e6d4ff;
		display: flex;
		flex-direction: column;

		&-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&--name,
		&--value {
			font-size: $fs-28;
			font-weight: 600;
			color: $secondary;
			margin-bottom: 0px;
			line-height: 0.8;

			@media all and (max-width: 767px) {
				font-size: 20px;
			}
		}

		&--name {
			@media all and (max-width: 767px) {
				font-size: 18px;
			}
		}
	}

	@media all and (max-width: 767px) {
		&__basic {
			padding: 12px 16px;
		}

		&__item {

			&--name,
			&--value {
				font-size: $fs-14;
			}
		}

		&__coupon {
			padding: 12px 16px;
		}
	}

	&__total {
		padding: 30px 24px;
	}
}

.icon-delete {
	color: #5607c5;
}

.attention {
	background: #f2ffef;
	color: $blue-2;
	padding: 20px;
	border: 2px dashed #bddcb6;
	border-radius: 10px;

	// &__box {
	// 	background-color: $green-1;
	// 	padding: 20px 16px;
	// 	border-radius: 10px;
	// 	border: 2px dashedwhite;
	// }

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $blue-2;
		font-size: $fs-18;
		line-height: 1.4;
		font-weight: 600;
		gap: 10px;
		margin-bottom: 12px;

		i {
			font-size: $fs-24;
		}

		p {
			margin-bottom: 0px;
			font-weight: 700;

			span {
				font-weight: 400;
				font-style: italic;
				font-size: 16px;
				margin-left: 10px;
			}
		}
	}

	&__price-desc {
		font-size: $fs-16;
		line-height: 1.2;
		font-weight: 600;
		color: $secondary;
		margin-bottom: 15px;
	}

	&__text {
		font-size: $fs-14;
		line-height: 1.4;
		color: $secondary;
		margin-bottom: 0;
	}

	&__note {
		font-size: 20px;
		line-height: 1.2;
	}
}

.order-summary-cta {
	padding: 24px;
	text-align: center;
	display: flex;
	flex-direction: column;

	@media all and (max-width: 767px) {
		padding: 12px 16px;

		// .theme-btn {
		// 	padding: 12px 20px;
		// 	font-size: $fs-14;
		// }
	}
}

.coupon {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__label {
		font-weight: 600;
		line-height: 0.8;
		font-size: $fs-18;
		margin-bottom: 0;

		@media all and (max-width: 767px) {
			font-size: $fs-14;
		}
	}
}

.products {
	&__filter {
		margin-bottom: 66px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;

		@media only screen and (max-width: 768px) {

			.products__filter-btn.products__filter-left,
			.products__filter-btn.products__filter-right {
				display: none !important;
			}
		}
	}

	.products__filter-btns .swiper-slide {
		width: auto !important;
	}

	&__filter-btn {
		background-color: transparent;
		padding: 16px 24px;
		display: inline-block !important;
		border: 1px solidwhite;
		border-radius: 50px;
		font-size: 16px;
		line-height: 1;
		text-transform: capitalize;
		white-space: nowrap;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover,
		&--active {
			background-color: $primary;
			border: 1px solid $primary;
			color: $secondary;
		}

		&.swiper-button-disabled {
			display: none !important;
		}
	}

	@media only screen and (max-width: 768px) {
		.section__title {
			font-size: $fs-28;
			line-height: 1.2;
		}
	}
}

.recommended {
	&__text {
		font-size: $fs-28 !important;
		color: $secondary !important;
		font-weight: 600 !important;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 992px) {
	.cart {
		&__items {
			background-color: transparent;
		}

		&__item {
			&:not(:last-child) {
				border-bottom: 1px solid #e6d4ff;
			}
		}
	}

	// .theme-btn {
	// 	font-size: 24px;

	// }
	.cart-delete-btn {
		font-size: 24px;
		font-weight: 700;
	}

	.recommended {
		&__row {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.cart-hero {
		padding: 150px 0 0;

		&__heading {
			font-size: $fs-40;
			line-height: 1.2;
		}

		&__text {
			font-size: $fs-24;
			line-height: 1.2;
			margin-bottom: 0;
		}
	}

	.attention {
		padding: 12px 16px !important;

		&__box {
			padding: 12px !important;
		}
	}

	.pricing {
		&__total {
			padding: 12px 16px !important;
		}
	}
}

@media only screen and (max-width: 768px) {
	.cart-hero {
		padding: 120px 0 0;

		&__heading {
			font-size: $fs-32;
			line-height: 1.2;
		}

		&__text {
			font-size: $fs-18;
			line-height: 1.2;
		}
	}

	.cart-flash {
		&__icon {
			min-width: 30px;
			width: 30px;
			height: 30px;
			border-radius: 20px;
		}
	}

	.cart-view {
		margin-bottom: 50px;
	}

	.recommended {
		&__row {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

@media only screen and (max-width: 576px) {
	.cart__thumbnail {
		// width: 70px;
		// height: 70px;

		// img {
		// 	height: 55px;
		// }
	}

	.cart {
		&__product {
			display: flex;
			// grid-template-columns: repeat(2, 1fr);
			gap: 15px;
		}

		&__thumbnail {
			padding: 5px;

			img {
				width: 33.8px;
				height: 70px;
			}
		}

		&__details {
			margin-left: unset;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}