@use "../base/variables" as *;
@media (min-width: 992px) {
  .max-w-500 {
    max-width: 500px !important;

  }

  .max-w-600 {
    max-width: 600px !important;

  }
}

.forgot-password {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray-aeae;
    padding-bottom: 15px;
  }
}