.forgot-info {
  background-color: #F2FFEF;

  border: 2px solid #BDDCB6;
  border-style: dashed;
  padding: 20px;
  border-radius: 10px;

}

.forgot-info-p {
  font-family: "sfuidisplay";
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  color: #2D2D2D;
}