@use "../base/variables" as *;

.home {
	&__hero {
		padding: 80px 40px 40px;
		position: relative;
		min-height: 100vh;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__header {
			padding: 40px 40px 0;

			.hamburger-menu {
				color: white;
			}

			.sticky {
				.hamburger-menu {
					color: $secondary;
				}
			}
		}

		background: url("../img/bg/home-hero-bg.png") no-repeat center top / cover;
		background-attachment: fixed;

		@media all and (max-width: 768px) {
			align-items: start;
		}
	}

	&__banner {
		position: relative;

		// Alert pill used in hero banner

		&--bottom {
			max-width: 820px;
			text-align: center;
			left: 50%;
			bottom: 40px;
			transform: translateX(-50%);
		}

		&__foreground {
			z-index: 1;

			img {
				width: 100%;
				max-height: 400px;
				border-radius: 0 0 40px 40px;
			}
		}
	}
}
.alert-pill {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	background-color: $red-light;
	padding: 16px 52px;
	border: 2px dashed $pink-1;
	border-radius: 9999px;
	color: $red;

	i.icon-alert {
		font-size: $fs-20;
		line-height: 1;
	}

	span {
		font-size: $fs-16;
	}

	@media only screen and (max-width: 768px) {
		padding: 12px 20px;
		gap: 8px;

		span {
			font-size: $fs-14;
			line-height: 1em;
		}
	}
}
.product {
	&__title {
		max-width: 400px;
	}
}

//Product CSS End

// .how-works {
// 	padding: 100px 0;
// 	background: url("../img/bg/how-works-bg.svg");
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	background-position: center center;
// 	background-color: $yellow;

// 	.step {
// 		max-width: 800px;
// 		margin: 0 auto;
// 		display: flex;
// 		justify-content: space-between;
// 		position: relative;

// 		&__one,
// 		&__two,
// 		&__three {
// 			width: 90px;
// 			height: 90px;
// 			border: 1.5px solid $red;
// 			border-radius: 50%;
// 			display: inline-flex;
// 			justify-content: center;
// 			align-items: center;
// 			background-color: $yellow;
// 			position: relative;
// 			z-index: 10;

// 			span {
// 				font-size: $fs-32;
// 				color: $red;
// 				font-weight: 600;
// 			}

// 			&__fill {
// 				background-color: $red;

// 				span {
// 					color: white;
// 				}
// 			}
// 		}

// 		&__border {
// 			border: 2px dashed red;
// 			width: 100%;
// 			position: absolute;
// 			z-index: 0;
// 			width: 100%;
// 			top: 50%;
// 			transform: translateY(-50%);
// 		}
// 	}

// 	&__items {
// 		margin-top: 40px;
// 	}

// 	&__card {
// 		background-color: $background-2;
// 		padding: 30px 30px 0 30px;
// 		border-radius: 16px;
// 		text-align: center;
// 		box-shadow: 0px 4px 40px 0px #fff6e0;
// 		overflow: hidden;

// 		&__img {
// 			max-width: 240px;
// 			position: relative;
// 			bottom: -2px;

// 			img {
// 				width: 100%;
// 			}
// 		}
// 	}
// }

//How it Works CSS End

.client {
	padding: 100px 0;
	overflow: hidden;
	background: url("../img/bg/pdetails-common-bg.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: $background-1;

	&__title {
		max-width: 550px;
	}

	&__slider {
		position: relative;
	}
}

.why-choose-section-title {
	width: 100%;
	max-width: 472px;
	margin: 0 auto;
}
//Client CSS End

.faq {
	// background: linear-gradient(to right, $blue-2 0%, $blue-2 45%, #f9f9f9 45%, #f9f9f9 100%);

	&__main {
		background: none;
	}

	&__title {
		position: relative;
		z-index: 1;
	}

	&__wrapper {
		position: relative;
	}

	&__frame {
		&--left {
			position: absolute;
			left: -50px;
			z-index: 0;
			top: -50px;
		}

		&--tree {
			position: absolute;
			top: 100px;
			left: 50px;
		}
	}
}

//FAQ CSS End

.cta {
	padding: 100px 0;
	background: url("../img/bg/cta-bg.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $blue-3;
}

@media only screen and (max-width: 1170px) {
}

@media only screen and (max-width: 992px) {
	.home {
		&__hero {
			padding: 0;
		}

		&__banner {
			min-height: 450px;
			border-radius: 0;
			padding-top: 20px;

			&--bottom {
				left: 15px;
				right: 15px;
				transform: unset;
			}
		}
	}

	.product {
		padding: 70px 0;

		&__title {
			max-width: unset;
			text-align: center;
		}
	}

	.client {
		padding: 70px 0;

		&__title {
			max-width: 100%;
		}

		&__quote {
			font-size: $fs-20;
		}

		&__profile {
			margin-top: 20px;
		}
	}

	.faq {
		padding: 70px 0;
		background: linear-gradient(to bottom, $blue-2 0%, $blue-2 22%, #f9f9f9 22%, #f9f9f9 100%);

		&__items {
			margin-top: 60px;
		}

		&__main {
			background: none;
		}
	}

	.cta {
		padding: 70px 0;

		&__content-frame {
			img {
				width: 250px;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.home {
		&__hero {
			padding: 35px 0 0 0;
		}
	}

	.product {
		&__navigation {
			gap: 10px;
		}
	}

	.how-works {
		padding: 50px 0;

		.step {
			margin-top: 20px;

			&__one,
			&__two,
			&__three {
				width: 50px;
				height: 50px;

				span {
					font-size: 20px;
				}
			}
		}
	}

	.client {
		padding: 50px 0 100px;

		&__feedbacks {
			padding-left: 15px;
		}
	}

	.faq {
		padding: 50px 0;
		background: linear-gradient(to bottom, $blue-2 0%, $blue-2 135px, #f9f9f9 13px, #f9f9f9 100%);

		&__main {
			background: none;
		}
	}

	.cta {
		padding: 50px 0 0;

		&__content-frame {
			img {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 576px) {
	.product {
		&__img {
			img {
				height: 170px;
			}
		}
	}

	.faq {
		padding: 0 0 50px;
		background: none;

		&__title {
			padding: 50px;
			background: $blue-2;
		}

		&__items {
			margin-top: 0;
		}
	}
}
