@use "../base/variables" as *;

.login {
  padding-top: 180px;

  &__wrapper {
    max-width: 500px;
    margin: 0 auto;
  }

  &__input {
    outline: 0;
    box-shadow: none;
    border: 1px solid $red;
    background-color: transparent;
    color: $secondary;
    padding: 12px 15px;
    border-radius: 10px;
    width: 100%;
    font-size: $fs-18;

    &::placeholder {
      color: $secondary;
    }
  }

  &__password {
    position: relative;
  }

  &__btn {
    width: 100%;
    font-size: $fs-18;
  }

  &__toggle-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    outline: 0;
    box-shadow: none;
    font-size: $fs-24;
    padding: 0;

    i {
      line-height: 1.5;
    }
  }

  .form-check-input {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32' fill='%23FF937C'%3E%3Cpath d='M15.917 1.091h0.166c3.186 0 5.689 0 7.643 0.263 2.002 0.269 3.591 0.832 4.839 2.080s1.811 2.837 2.080 4.839c0.263 1.954 0.263 4.457 0.263 7.643v0.166c0 3.186 0 5.689-0.263 7.643-0.269 2.002-0.832 3.591-2.080 4.839s-2.837 1.811-4.839 2.080c-1.954 0.263-4.457 0.263-7.643 0.263h-0.166c-3.186 0-5.689 0-7.643-0.263-2.002-0.269-3.591-0.832-4.839-2.080s-1.811-2.837-2.080-4.839c-0.263-1.954-0.263-4.457-0.263-7.643v-0.166c0-3.186 0-5.689 0.263-7.643 0.269-2.002 0.832-3.591 2.080-4.839s2.837-1.811 4.839-2.080c1.954-0.263 4.457-0.263 7.643-0.263zM8.564 3.516c-1.76 0.237-2.812 0.686-3.587 1.461s-1.224 1.827-1.461 3.587c-0.241 1.792-0.243 4.148-0.243 7.436s0.002 5.644 0.243 7.436c0.237 1.76 0.686 2.812 1.461 3.587s1.827 1.224 3.587 1.461c1.792 0.241 4.148 0.243 7.436 0.243s5.644-0.002 7.436-0.243c1.76-0.237 2.812-0.686 3.587-1.461s1.224-1.827 1.461-3.587c0.241-1.792 0.243-4.148 0.243-7.436s-0.002-5.644-0.243-7.436c-0.237-1.76-0.686-2.812-1.461-3.587s-1.827-1.224-3.587-1.461c-1.792-0.241-4.148-0.243-7.436-0.243s-5.644 0.002-7.436 0.243z'%3E%3C/path%3E%3C/svg%3E%0A");
    background-color: transparent;
    border: none !important;
    box-shadow: none;

    &:checked {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32' fill='%23FF937C'%3E%3Cpath d='M3.054 3.054c2.221-2.221 5.796-2.221 12.946-2.221s10.724 0 12.946 2.221c2.221 2.221 2.221 5.796 2.221 12.946s0 10.724-2.221 12.946c-2.221 2.221-5.796 2.221-12.946 2.221s-10.725 0-12.946-2.221c-2.221-2.221-2.221-5.796-2.221-12.946s0-10.725 2.221-12.946zM22.975 11.75c0.298-0.325 0.276-0.83-0.049-1.128s-0.83-0.276-1.128 0.049l-8.217 8.964-3.402-3.402c-0.312-0.312-0.817-0.312-1.129 0s-0.312 0.817 0 1.129l3.991 3.991c0.154 0.154 0.364 0.238 0.582 0.233s0.424-0.098 0.571-0.259l8.781-9.579z'%3E%3C/path%3E%3C/svg%3E%0A");
    }
  }

  .form-label {
    font-size: $fs-16;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: $fs-24;
    line-height: 1.2;
    font-weight: 800;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $primary;
      bottom: 0;
      left: 0;
    }
  }

}

@media only screen and (max-width: 768px) {
  .login {
    padding: 100px 0 0;
  }
}