@use "../base/variables" as *;
@media (min-width: 992px) {


  .max-w-700 {
    max-width: 700px !important;

  }
}

.login {
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $gray-aeae;
    padding-bottom: 15px;
  }
}