@use "../base/variables" as *;

.my-profile {
	padding-top: 120px;
	padding-bottom: 100px;

}

.my-profile__input{

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-text-fill-color: black !important;
		/* THE REAL FIX */
		box-shadow: 0 0 0 1000px #FBF9FF inset !important;
		/* THE SECRET iOS TRICK */
		transition: background-color 99999s ease-in-out 0s !important;
		/* Helps but not required */
		caret-color: black !important;
		appearance: none !important;
		background-color: rgba(167, 112, 245, 0.12) !important;
	}
}

.rounded-10 {
	border-radius: 10px !important;
}

.form-wrapper {
	background-color: #fbf9ff;
	padding: 20px 40px 20px;
}

// .buttons {
// 	display: flex;
// 	justify-content: end;
// 	margin-bottom: 22px;

// 	a {
// 		color: #5b0ec7;
// 		font-weight: 500;
// 	}
// }

.form-group {
	margin-bottom: 24px;

	input {
		border-color: #aeaeae;
	}
}
